body {
  margin: 0;
  padding: 0;
  background: #111727;
}
body .controls {
  z-index: 10;
  position: relative;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
body .container svg {
  width: 100vmin;
  height: 100vmin;
  fill: orange;
}

#company {
  transform: rotate(45deg);
}
#company .line-group-0 circle {
  fill: rgb(143, 170, 226);
}
#company .line-group-1 circle {
  fill: rgb(144, 169, 224);
}
#company .line-group-2 circle {
  fill: rgb(145, 168, 222);
}
#company .line-group-3 circle {
  fill: rgb(146, 167, 220);
}
#company .line-group-4 circle {
  fill: rgb(147, 166, 218);
}
#company .line-group-5 circle {
  fill: rgb(148, 166, 216);
}
#company .line-group-6 circle {
  fill: rgb(149, 165, 214);
}
#company .line-group-7 circle {
  fill: rgb(150, 164, 213);
}
#company .line-group-8 circle {
  fill: rgb(151, 163, 211);
}
#company .line-group-9 circle {
  fill: rgb(152, 162, 209);
}
#company .line-group-10 circle {
  fill: rgb(153, 161, 207);
}
#company .line-group-11 circle {
  fill: rgb(154, 160, 205);
}
#company .line-group-12 circle {
  fill: rgb(155, 159, 203);
}
#company .line-group-13 circle {
  fill: rgb(156, 158, 201);
}
#company .line-group-14 circle {
  fill: rgb(157, 157, 199);
}
#company .line-group-15 circle {
  fill: rgb(159, 157, 197);
}
#company .line-group-16 circle {
  fill: rgb(160, 156, 195);
}
#company .line-group-17 circle {
  fill: rgb(161, 155, 193);
}
#company .line-group-18 circle {
  fill: rgb(162, 154, 191);
}
#company .line-group-19 circle {
  fill: rgb(163, 153, 189);
}
#company .line-group-20 circle {
  fill: rgb(164, 152, 188);
}
#company .line-group-21 circle {
  fill: rgb(165, 151, 186);
}
#company .line-group-22 circle {
  fill: rgb(166, 150, 184);
}
#company .line-group-23 circle {
  fill: rgb(167, 149, 182);
}
#company .line-group-24 circle {
  fill: rgb(168, 148, 180);
}
#company .line-group-25 circle {
  fill: rgb(169, 148, 178);
}
#company .line-group-26 circle {
  fill: rgb(170, 147, 176);
}
#company .line-group-27 circle {
  fill: rgb(171, 146, 174);
}
#company .line-group-28 circle {
  fill: rgb(172, 145, 172);
}
#company .line-group-29 circle {
  fill: rgb(173, 144, 170);
}
#company .line-group-30 circle {
  fill: rgb(174, 143, 168);
}
#company .line-group-31 circle {
  fill: rgb(175, 142, 166);
}
#company .line-group-32 circle {
  fill: rgb(176, 141, 164);
}
#company .line-group-33 circle {
  fill: rgb(177, 140, 163);
}
#company .line-group-34 circle {
  fill: rgb(178, 139, 161);
}
#company .line-group-35 circle {
  fill: rgb(179, 139, 159);
}
#company .line-group-36 circle {
  fill: rgb(180, 138, 157);
}
#company .line-group-37 circle {
  fill: rgb(181, 137, 155);
}
#company .line-group-38 circle {
  fill: rgb(182, 136, 153);
}
#company .line-group-39 circle {
  fill: rgb(183, 135, 151);
}
#company .line-group-40 circle {
  fill: rgb(184, 134, 149);
}
#company .line-group-41 circle {
  fill: rgb(185, 133, 147);
}
#company .line-group-42 circle {
  fill: rgb(186, 132, 145);
}
#company .line-group-43 circle {
  fill: rgb(187, 131, 143);
}
#company .line-group-44 circle {
  fill: rgb(188, 130, 141);
}
#company .line-group-45 circle {
  fill: rgb(190, 130, 140);
}
#company .line-group-46 circle {
  fill: rgb(191, 129, 138);
}
#company .line-group-47 circle {
  fill: rgb(192, 128, 136);
}
#company .line-group-48 circle {
  fill: rgb(193, 127, 134);
}
#company .line-group-49 circle {
  fill: rgb(194, 126, 132);
}
#company .line-group-50 circle {
  fill: rgb(195, 125, 130);
}
#company .line-group-51 circle {
  fill: rgb(196, 124, 128);
}
#company .line-group-52 circle {
  fill: rgb(197, 123, 126);
}
#company .line-group-53 circle {
  fill: rgb(198, 122, 124);
}
#company .line-group-54 circle {
  fill: rgb(199, 121, 122);
}
#company .line-group-55 circle {
  fill: rgb(200, 121, 120);
}
#company .line-group-56 circle {
  fill: rgb(201, 120, 118);
}
#company .line-group-57 circle {
  fill: rgb(202, 119, 116);
}
#company .line-group-58 circle {
  fill: rgb(203, 118, 115);
}
#company .line-group-59 circle {
  fill: rgb(204, 117, 113);
}
#company .line-group-60 circle {
  fill: rgb(205, 116, 111);
}
#company .line-group-61 circle {
  fill: rgb(206, 115, 109);
}
#company .line-group-62 circle {
  fill: rgb(207, 114, 107);
}
#company .line-group-63 circle {
  fill: rgb(208, 113, 105);
}
#company .line-group-64 circle {
  fill: rgb(209, 112, 103);
}
#company .line-group-65 circle {
  fill: rgb(210, 112, 101);
}
#company .line-group-66 circle {
  fill: rgb(211, 111, 99);
}
#company .line-group-67 circle {
  fill: rgb(212, 110, 97);
}
#company .line-group-68 circle {
  fill: rgb(213, 109, 95);
}
#company .line-group-69 circle {
  fill: rgb(214, 108, 93);
}
#company .line-group-70 circle {
  fill: rgb(215, 107, 91);
}
#company .line-group-71 circle {
  fill: rgb(216, 106, 90);
}
#company .line-group-72 circle {
  fill: rgb(217, 105, 88);
}
#company .line-group-73 circle {
  fill: rgb(218, 104, 86);
}
#company .line-group-74 circle {
  fill: rgb(219, 103, 84);
}
#company .line-group-75 circle {
  fill: rgb(221, 103, 82);
}
#company .line-group-76 circle {
  fill: rgb(222, 102, 80);
}
#company .line-group-77 circle {
  fill: rgb(223, 101, 78);
}
#company .line-group-78 circle {
  fill: rgb(224, 100, 76);
}
#company .line-group-79 circle {
  fill: rgb(225, 99, 74);
}
#company .line-group-80 circle {
  fill: rgb(226, 98, 72);
}
#company .line-group-81 circle {
  fill: rgb(227, 97, 70);
}
#company .line-group-82 circle {
  fill: rgb(228, 96, 68);
}
#company .line-group-83 circle {
  fill: rgb(229, 95, 66);
}
#company .line-group-84 circle {
  fill: rgb(230, 94, 65);
}
#company .line-group-85 circle {
  fill: rgb(231, 94, 63);
}
#company .line-group-86 circle {
  fill: rgb(232, 93, 61);
}
#company .line-group-87 circle {
  fill: rgb(233, 92, 59);
}
#company .line-group-88 circle {
  fill: rgb(234, 91, 57);
}
#company .line-group-89 circle {
  fill: rgb(235, 90, 55);
}
#company .line-group-90 circle {
  fill: rgb(236, 89, 53);
}
#company .line-group-91 circle {
  fill: rgb(235, 90, 55);
}
#company .line-group-92 circle {
  fill: rgb(234, 91, 57);
}
#company .line-group-93 circle {
  fill: rgb(233, 92, 59);
}
#company .line-group-94 circle {
  fill: rgb(232, 93, 61);
}
#company .line-group-95 circle {
  fill: rgb(231, 94, 63);
}
#company .line-group-96 circle {
  fill: rgb(230, 94, 65);
}
#company .line-group-97 circle {
  fill: rgb(229, 95, 66);
}
#company .line-group-98 circle {
  fill: rgb(228, 96, 68);
}
#company .line-group-99 circle {
  fill: rgb(227, 97, 70);
}
#company .line-group-100 circle {
  fill: rgb(226, 98, 72);
}
#company .line-group-101 circle {
  fill: rgb(225, 99, 74);
}
#company .line-group-102 circle {
  fill: rgb(224, 100, 76);
}
#company .line-group-103 circle {
  fill: rgb(223, 101, 78);
}
#company .line-group-104 circle {
  fill: rgb(222, 102, 80);
}
#company .line-group-105 circle {
  fill: rgb(221, 103, 82);
}
#company .line-group-106 circle {
  fill: rgb(219, 103, 84);
}
#company .line-group-107 circle {
  fill: rgb(218, 104, 86);
}
#company .line-group-108 circle {
  fill: rgb(217, 105, 88);
}
#company .line-group-109 circle {
  fill: rgb(216, 106, 90);
}
#company .line-group-110 circle {
  fill: rgb(215, 107, 91);
}
#company .line-group-111 circle {
  fill: rgb(214, 108, 93);
}
#company .line-group-112 circle {
  fill: rgb(213, 109, 95);
}
#company .line-group-113 circle {
  fill: rgb(212, 110, 97);
}
#company .line-group-114 circle {
  fill: rgb(211, 111, 99);
}
#company .line-group-115 circle {
  fill: rgb(210, 112, 101);
}
#company .line-group-116 circle {
  fill: rgb(209, 112, 103);
}
#company .line-group-117 circle {
  fill: rgb(208, 113, 105);
}
#company .line-group-118 circle {
  fill: rgb(207, 114, 107);
}
#company .line-group-119 circle {
  fill: rgb(206, 115, 109);
}
#company .line-group-120 circle {
  fill: rgb(205, 116, 111);
}
#company .line-group-121 circle {
  fill: rgb(204, 117, 113);
}
#company .line-group-122 circle {
  fill: rgb(203, 118, 115);
}
#company .line-group-123 circle {
  fill: rgb(202, 119, 116);
}
#company .line-group-124 circle {
  fill: rgb(201, 120, 118);
}
#company .line-group-125 circle {
  fill: rgb(200, 121, 120);
}
#company .line-group-126 circle {
  fill: rgb(199, 121, 122);
}
#company .line-group-127 circle {
  fill: rgb(198, 122, 124);
}
#company .line-group-128 circle {
  fill: rgb(197, 123, 126);
}
#company .line-group-129 circle {
  fill: rgb(196, 124, 128);
}
#company .line-group-130 circle {
  fill: rgb(195, 125, 130);
}
#company .line-group-131 circle {
  fill: rgb(194, 126, 132);
}
#company .line-group-132 circle {
  fill: rgb(193, 127, 134);
}
#company .line-group-133 circle {
  fill: rgb(192, 128, 136);
}
#company .line-group-134 circle {
  fill: rgb(191, 129, 138);
}
#company .line-group-135 circle {
  fill: rgb(190, 130, 140);
}
#company .line-group-136 circle {
  fill: rgb(188, 130, 141);
}
#company .line-group-137 circle {
  fill: rgb(187, 131, 143);
}
#company .line-group-138 circle {
  fill: rgb(186, 132, 145);
}
#company .line-group-139 circle {
  fill: rgb(185, 133, 147);
}
#company .line-group-140 circle {
  fill: rgb(184, 134, 149);
}
#company .line-group-141 circle {
  fill: rgb(183, 135, 151);
}
#company .line-group-142 circle {
  fill: rgb(182, 136, 153);
}
#company .line-group-143 circle {
  fill: rgb(181, 137, 155);
}
#company .line-group-144 circle {
  fill: rgb(180, 138, 157);
}
#company .line-group-145 circle {
  fill: rgb(179, 139, 159);
}
#company .line-group-146 circle {
  fill: rgb(178, 139, 161);
}
#company .line-group-147 circle {
  fill: rgb(177, 140, 163);
}
#company .line-group-148 circle {
  fill: rgb(176, 141, 164);
}
#company .line-group-149 circle {
  fill: rgb(175, 142, 166);
}
#company .line-group-150 circle {
  fill: rgb(174, 143, 168);
}
#company .line-group-151 circle {
  fill: rgb(173, 144, 170);
}
#company .line-group-152 circle {
  fill: rgb(172, 145, 172);
}
#company .line-group-153 circle {
  fill: rgb(171, 146, 174);
}
#company .line-group-154 circle {
  fill: rgb(170, 147, 176);
}
#company .line-group-155 circle {
  fill: rgb(169, 148, 178);
}
#company .line-group-156 circle {
  fill: rgb(168, 148, 180);
}
#company .line-group-157 circle {
  fill: rgb(167, 149, 182);
}
#company .line-group-158 circle {
  fill: rgb(166, 150, 184);
}
#company .line-group-159 circle {
  fill: rgb(165, 151, 186);
}
#company .line-group-160 circle {
  fill: rgb(164, 152, 188);
}
#company .line-group-161 circle {
  fill: rgb(163, 153, 189);
}
#company .line-group-162 circle {
  fill: rgb(162, 154, 191);
}
#company .line-group-163 circle {
  fill: rgb(161, 155, 193);
}
#company .line-group-164 circle {
  fill: rgb(160, 156, 195);
}
#company .line-group-165 circle {
  fill: rgb(159, 157, 197);
}
#company .line-group-166 circle {
  fill: rgb(157, 157, 199);
}
#company .line-group-167 circle {
  fill: rgb(156, 158, 201);
}
#company .line-group-168 circle {
  fill: rgb(155, 159, 203);
}
#company .line-group-169 circle {
  fill: rgb(154, 160, 205);
}
#company .line-group-170 circle {
  fill: rgb(153, 161, 207);
}
#company .line-group-171 circle {
  fill: rgb(152, 162, 209);
}
#company .line-group-172 circle {
  fill: rgb(151, 163, 211);
}
#company .line-group-173 circle {
  fill: rgb(150, 164, 213);
}
#company .line-group-174 circle {
  fill: rgb(149, 165, 214);
}
#company .line-group-175 circle {
  fill: rgb(148, 166, 216);
}
#company .line-group-176 circle {
  fill: rgb(147, 166, 218);
}
#company .line-group-177 circle {
  fill: rgb(146, 167, 220);
}
#company .line-group-178 circle {
  fill: rgb(145, 168, 222);
}
#company .line-group-179 circle {
  fill: rgb(144, 169, 224);
}

#homepage {
  transform: rotate(45deg);
}
#homepage .line-group-0 circle {
  fill: rgb(145, 28, 88);
}
#homepage .line-group-1 circle {
  fill: rgb(146, 29, 88);
}
#homepage .line-group-2 circle {
  fill: rgb(147, 29, 87);
}
#homepage .line-group-3 circle {
  fill: rgb(148, 30, 87);
}
#homepage .line-group-4 circle {
  fill: rgb(149, 31, 86);
}
#homepage .line-group-5 circle {
  fill: rgb(150, 31, 86);
}
#homepage .line-group-6 circle {
  fill: rgb(151, 32, 86);
}
#homepage .line-group-7 circle {
  fill: rgb(152, 33, 85);
}
#homepage .line-group-8 circle {
  fill: rgb(153, 33, 85);
}
#homepage .line-group-9 circle {
  fill: rgb(154, 34, 85);
}
#homepage .line-group-10 circle {
  fill: rgb(155, 35, 84);
}
#homepage .line-group-11 circle {
  fill: rgb(156, 35, 84);
}
#homepage .line-group-12 circle {
  fill: rgb(157, 36, 83);
}
#homepage .line-group-13 circle {
  fill: rgb(158, 37, 83);
}
#homepage .line-group-14 circle {
  fill: rgb(159, 37, 83);
}
#homepage .line-group-15 circle {
  fill: rgb(160, 38, 82);
}
#homepage .line-group-16 circle {
  fill: rgb(161, 39, 82);
}
#homepage .line-group-17 circle {
  fill: rgb(162, 40, 81);
}
#homepage .line-group-18 circle {
  fill: rgb(163, 40, 81);
}
#homepage .line-group-19 circle {
  fill: rgb(164, 41, 81);
}
#homepage .line-group-20 circle {
  fill: rgb(165, 42, 80);
}
#homepage .line-group-21 circle {
  fill: rgb(166, 42, 80);
}
#homepage .line-group-22 circle {
  fill: rgb(167, 43, 79);
}
#homepage .line-group-23 circle {
  fill: rgb(168, 44, 79);
}
#homepage .line-group-24 circle {
  fill: rgb(169, 44, 79);
}
#homepage .line-group-25 circle {
  fill: rgb(170, 45, 78);
}
#homepage .line-group-26 circle {
  fill: rgb(171, 46, 78);
}
#homepage .line-group-27 circle {
  fill: rgb(172, 46, 78);
}
#homepage .line-group-28 circle {
  fill: rgb(173, 47, 77);
}
#homepage .line-group-29 circle {
  fill: rgb(174, 48, 77);
}
#homepage .line-group-30 circle {
  fill: rgb(175, 48, 76);
}
#homepage .line-group-31 circle {
  fill: rgb(176, 49, 76);
}
#homepage .line-group-32 circle {
  fill: rgb(177, 50, 76);
}
#homepage .line-group-33 circle {
  fill: rgb(178, 50, 75);
}
#homepage .line-group-34 circle {
  fill: rgb(179, 51, 75);
}
#homepage .line-group-35 circle {
  fill: rgb(180, 52, 74);
}
#homepage .line-group-36 circle {
  fill: rgb(181, 52, 74);
}
#homepage .line-group-37 circle {
  fill: rgb(182, 53, 74);
}
#homepage .line-group-38 circle {
  fill: rgb(183, 54, 73);
}
#homepage .line-group-39 circle {
  fill: rgb(184, 54, 73);
}
#homepage .line-group-40 circle {
  fill: rgb(185, 55, 72);
}
#homepage .line-group-41 circle {
  fill: rgb(186, 56, 72);
}
#homepage .line-group-42 circle {
  fill: rgb(187, 56, 72);
}
#homepage .line-group-43 circle {
  fill: rgb(188, 57, 71);
}
#homepage .line-group-44 circle {
  fill: rgb(189, 58, 71);
}
#homepage .line-group-45 circle {
  fill: rgb(191, 59, 71);
}
#homepage .line-group-46 circle {
  fill: rgb(192, 59, 70);
}
#homepage .line-group-47 circle {
  fill: rgb(193, 60, 70);
}
#homepage .line-group-48 circle {
  fill: rgb(194, 61, 69);
}
#homepage .line-group-49 circle {
  fill: rgb(195, 61, 69);
}
#homepage .line-group-50 circle {
  fill: rgb(196, 62, 69);
}
#homepage .line-group-51 circle {
  fill: rgb(197, 63, 68);
}
#homepage .line-group-52 circle {
  fill: rgb(198, 63, 68);
}
#homepage .line-group-53 circle {
  fill: rgb(199, 64, 67);
}
#homepage .line-group-54 circle {
  fill: rgb(200, 65, 67);
}
#homepage .line-group-55 circle {
  fill: rgb(201, 65, 67);
}
#homepage .line-group-56 circle {
  fill: rgb(202, 66, 66);
}
#homepage .line-group-57 circle {
  fill: rgb(203, 67, 66);
}
#homepage .line-group-58 circle {
  fill: rgb(204, 67, 65);
}
#homepage .line-group-59 circle {
  fill: rgb(205, 68, 65);
}
#homepage .line-group-60 circle {
  fill: rgb(206, 69, 65);
}
#homepage .line-group-61 circle {
  fill: rgb(207, 69, 64);
}
#homepage .line-group-62 circle {
  fill: rgb(208, 70, 64);
}
#homepage .line-group-63 circle {
  fill: rgb(209, 71, 64);
}
#homepage .line-group-64 circle {
  fill: rgb(210, 71, 63);
}
#homepage .line-group-65 circle {
  fill: rgb(211, 72, 63);
}
#homepage .line-group-66 circle {
  fill: rgb(212, 73, 62);
}
#homepage .line-group-67 circle {
  fill: rgb(213, 73, 62);
}
#homepage .line-group-68 circle {
  fill: rgb(214, 74, 62);
}
#homepage .line-group-69 circle {
  fill: rgb(215, 75, 61);
}
#homepage .line-group-70 circle {
  fill: rgb(216, 75, 61);
}
#homepage .line-group-71 circle {
  fill: rgb(217, 76, 60);
}
#homepage .line-group-72 circle {
  fill: rgb(218, 77, 60);
}
#homepage .line-group-73 circle {
  fill: rgb(219, 77, 60);
}
#homepage .line-group-74 circle {
  fill: rgb(220, 78, 59);
}
#homepage .line-group-75 circle {
  fill: rgb(221, 79, 59);
}
#homepage .line-group-76 circle {
  fill: rgb(222, 80, 58);
}
#homepage .line-group-77 circle {
  fill: rgb(223, 80, 58);
}
#homepage .line-group-78 circle {
  fill: rgb(224, 81, 58);
}
#homepage .line-group-79 circle {
  fill: rgb(225, 82, 57);
}
#homepage .line-group-80 circle {
  fill: rgb(226, 82, 57);
}
#homepage .line-group-81 circle {
  fill: rgb(227, 83, 57);
}
#homepage .line-group-82 circle {
  fill: rgb(228, 84, 56);
}
#homepage .line-group-83 circle {
  fill: rgb(229, 84, 56);
}
#homepage .line-group-84 circle {
  fill: rgb(230, 85, 55);
}
#homepage .line-group-85 circle {
  fill: rgb(231, 86, 55);
}
#homepage .line-group-86 circle {
  fill: rgb(232, 86, 55);
}
#homepage .line-group-87 circle {
  fill: rgb(233, 87, 54);
}
#homepage .line-group-88 circle {
  fill: rgb(234, 88, 54);
}
#homepage .line-group-89 circle {
  fill: rgb(235, 88, 53);
}
#homepage .line-group-90 circle {
  fill: rgb(236, 89, 53);
}
#homepage .line-group-91 circle {
  fill: rgb(235, 88, 53);
}
#homepage .line-group-92 circle {
  fill: rgb(234, 88, 54);
}
#homepage .line-group-93 circle {
  fill: rgb(233, 87, 54);
}
#homepage .line-group-94 circle {
  fill: rgb(232, 86, 55);
}
#homepage .line-group-95 circle {
  fill: rgb(231, 86, 55);
}
#homepage .line-group-96 circle {
  fill: rgb(230, 85, 55);
}
#homepage .line-group-97 circle {
  fill: rgb(229, 84, 56);
}
#homepage .line-group-98 circle {
  fill: rgb(228, 84, 56);
}
#homepage .line-group-99 circle {
  fill: rgb(227, 83, 57);
}
#homepage .line-group-100 circle {
  fill: rgb(226, 82, 57);
}
#homepage .line-group-101 circle {
  fill: rgb(225, 82, 57);
}
#homepage .line-group-102 circle {
  fill: rgb(224, 81, 58);
}
#homepage .line-group-103 circle {
  fill: rgb(223, 80, 58);
}
#homepage .line-group-104 circle {
  fill: rgb(222, 80, 58);
}
#homepage .line-group-105 circle {
  fill: rgb(221, 79, 59);
}
#homepage .line-group-106 circle {
  fill: rgb(220, 78, 59);
}
#homepage .line-group-107 circle {
  fill: rgb(219, 77, 60);
}
#homepage .line-group-108 circle {
  fill: rgb(218, 77, 60);
}
#homepage .line-group-109 circle {
  fill: rgb(217, 76, 60);
}
#homepage .line-group-110 circle {
  fill: rgb(216, 75, 61);
}
#homepage .line-group-111 circle {
  fill: rgb(215, 75, 61);
}
#homepage .line-group-112 circle {
  fill: rgb(214, 74, 62);
}
#homepage .line-group-113 circle {
  fill: rgb(213, 73, 62);
}
#homepage .line-group-114 circle {
  fill: rgb(212, 73, 62);
}
#homepage .line-group-115 circle {
  fill: rgb(211, 72, 63);
}
#homepage .line-group-116 circle {
  fill: rgb(210, 71, 63);
}
#homepage .line-group-117 circle {
  fill: rgb(209, 71, 64);
}
#homepage .line-group-118 circle {
  fill: rgb(208, 70, 64);
}
#homepage .line-group-119 circle {
  fill: rgb(207, 69, 64);
}
#homepage .line-group-120 circle {
  fill: rgb(206, 69, 65);
}
#homepage .line-group-121 circle {
  fill: rgb(205, 68, 65);
}
#homepage .line-group-122 circle {
  fill: rgb(204, 67, 65);
}
#homepage .line-group-123 circle {
  fill: rgb(203, 67, 66);
}
#homepage .line-group-124 circle {
  fill: rgb(202, 66, 66);
}
#homepage .line-group-125 circle {
  fill: rgb(201, 65, 67);
}
#homepage .line-group-126 circle {
  fill: rgb(200, 65, 67);
}
#homepage .line-group-127 circle {
  fill: rgb(199, 64, 67);
}
#homepage .line-group-128 circle {
  fill: rgb(198, 63, 68);
}
#homepage .line-group-129 circle {
  fill: rgb(197, 63, 68);
}
#homepage .line-group-130 circle {
  fill: rgb(196, 62, 69);
}
#homepage .line-group-131 circle {
  fill: rgb(195, 61, 69);
}
#homepage .line-group-132 circle {
  fill: rgb(194, 61, 69);
}
#homepage .line-group-133 circle {
  fill: rgb(193, 60, 70);
}
#homepage .line-group-134 circle {
  fill: rgb(192, 59, 70);
}
#homepage .line-group-135 circle {
  fill: rgb(191, 59, 71);
}
#homepage .line-group-136 circle {
  fill: rgb(189, 58, 71);
}
#homepage .line-group-137 circle {
  fill: rgb(188, 57, 71);
}
#homepage .line-group-138 circle {
  fill: rgb(187, 56, 72);
}
#homepage .line-group-139 circle {
  fill: rgb(186, 56, 72);
}
#homepage .line-group-140 circle {
  fill: rgb(185, 55, 72);
}
#homepage .line-group-141 circle {
  fill: rgb(184, 54, 73);
}
#homepage .line-group-142 circle {
  fill: rgb(183, 54, 73);
}
#homepage .line-group-143 circle {
  fill: rgb(182, 53, 74);
}
#homepage .line-group-144 circle {
  fill: rgb(181, 52, 74);
}
#homepage .line-group-145 circle {
  fill: rgb(180, 52, 74);
}
#homepage .line-group-146 circle {
  fill: rgb(179, 51, 75);
}
#homepage .line-group-147 circle {
  fill: rgb(178, 50, 75);
}
#homepage .line-group-148 circle {
  fill: rgb(177, 50, 76);
}
#homepage .line-group-149 circle {
  fill: rgb(176, 49, 76);
}
#homepage .line-group-150 circle {
  fill: rgb(175, 48, 76);
}
#homepage .line-group-151 circle {
  fill: rgb(174, 48, 77);
}
#homepage .line-group-152 circle {
  fill: rgb(173, 47, 77);
}
#homepage .line-group-153 circle {
  fill: rgb(172, 46, 78);
}
#homepage .line-group-154 circle {
  fill: rgb(171, 46, 78);
}
#homepage .line-group-155 circle {
  fill: rgb(170, 45, 78);
}
#homepage .line-group-156 circle {
  fill: rgb(169, 44, 79);
}
#homepage .line-group-157 circle {
  fill: rgb(168, 44, 79);
}
#homepage .line-group-158 circle {
  fill: rgb(167, 43, 79);
}
#homepage .line-group-159 circle {
  fill: rgb(166, 42, 80);
}
#homepage .line-group-160 circle {
  fill: rgb(165, 42, 80);
}
#homepage .line-group-161 circle {
  fill: rgb(164, 41, 81);
}
#homepage .line-group-162 circle {
  fill: rgb(163, 40, 81);
}
#homepage .line-group-163 circle {
  fill: rgb(162, 40, 81);
}
#homepage .line-group-164 circle {
  fill: rgb(161, 39, 82);
}
#homepage .line-group-165 circle {
  fill: rgb(160, 38, 82);
}
#homepage .line-group-166 circle {
  fill: rgb(159, 37, 83);
}
#homepage .line-group-167 circle {
  fill: rgb(158, 37, 83);
}
#homepage .line-group-168 circle {
  fill: rgb(157, 36, 83);
}
#homepage .line-group-169 circle {
  fill: rgb(156, 35, 84);
}
#homepage .line-group-170 circle {
  fill: rgb(155, 35, 84);
}
#homepage .line-group-171 circle {
  fill: rgb(154, 34, 85);
}
#homepage .line-group-172 circle {
  fill: rgb(153, 33, 85);
}
#homepage .line-group-173 circle {
  fill: rgb(152, 33, 85);
}
#homepage .line-group-174 circle {
  fill: rgb(151, 32, 86);
}
#homepage .line-group-175 circle {
  fill: rgb(150, 31, 86);
}
#homepage .line-group-176 circle {
  fill: rgb(149, 31, 86);
}
#homepage .line-group-177 circle {
  fill: rgb(148, 30, 87);
}
#homepage .line-group-178 circle {
  fill: rgb(147, 29, 87);
}
#homepage .line-group-179 circle {
  fill: rgb(146, 29, 88);
}

#partner .line-group-0 circle {
  fill: rgb(145, 28, 88);
}
#partner .line-group-1 circle {
  fill: rgb(146, 30, 88);
}
#partner .line-group-2 circle {
  fill: rgb(147, 31, 87);
}
#partner .line-group-3 circle {
  fill: rgb(148, 33, 87);
}
#partner .line-group-4 circle {
  fill: rgb(149, 35, 87);
}
#partner .line-group-5 circle {
  fill: rgb(151, 37, 87);
}
#partner .line-group-6 circle {
  fill: rgb(152, 38, 86);
}
#partner .line-group-7 circle {
  fill: rgb(153, 40, 86);
}
#partner .line-group-8 circle {
  fill: rgb(154, 42, 86);
}
#partner .line-group-9 circle {
  fill: rgb(155, 43, 86);
}
#partner .line-group-10 circle {
  fill: rgb(156, 45, 85);
}
#partner .line-group-11 circle {
  fill: rgb(157, 47, 85);
}
#partner .line-group-12 circle {
  fill: rgb(158, 48, 85);
}
#partner .line-group-13 circle {
  fill: rgb(159, 50, 84);
}
#partner .line-group-14 circle {
  fill: rgb(160, 52, 84);
}
#partner .line-group-15 circle {
  fill: rgb(162, 54, 84);
}
#partner .line-group-16 circle {
  fill: rgb(163, 55, 84);
}
#partner .line-group-17 circle {
  fill: rgb(164, 57, 83);
}
#partner .line-group-18 circle {
  fill: rgb(165, 59, 83);
}
#partner .line-group-19 circle {
  fill: rgb(166, 60, 83);
}
#partner .line-group-20 circle {
  fill: rgb(167, 62, 82);
}
#partner .line-group-21 circle {
  fill: rgb(168, 64, 82);
}
#partner .line-group-22 circle {
  fill: rgb(169, 65, 82);
}
#partner .line-group-23 circle {
  fill: rgb(170, 67, 82);
}
#partner .line-group-24 circle {
  fill: rgb(171, 69, 81);
}
#partner .line-group-25 circle {
  fill: rgb(173, 71, 81);
}
#partner .line-group-26 circle {
  fill: rgb(174, 72, 81);
}
#partner .line-group-27 circle {
  fill: rgb(175, 74, 81);
}
#partner .line-group-28 circle {
  fill: rgb(176, 76, 80);
}
#partner .line-group-29 circle {
  fill: rgb(177, 77, 80);
}
#partner .line-group-30 circle {
  fill: rgb(178, 79, 80);
}
#partner .line-group-31 circle {
  fill: rgb(179, 81, 79);
}
#partner .line-group-32 circle {
  fill: rgb(180, 82, 79);
}
#partner .line-group-33 circle {
  fill: rgb(181, 84, 79);
}
#partner .line-group-34 circle {
  fill: rgb(182, 86, 79);
}
#partner .line-group-35 circle {
  fill: rgb(184, 88, 78);
}
#partner .line-group-36 circle {
  fill: rgb(185, 89, 78);
}
#partner .line-group-37 circle {
  fill: rgb(186, 91, 78);
}
#partner .line-group-38 circle {
  fill: rgb(187, 93, 77);
}
#partner .line-group-39 circle {
  fill: rgb(188, 94, 77);
}
#partner .line-group-40 circle {
  fill: rgb(189, 96, 77);
}
#partner .line-group-41 circle {
  fill: rgb(190, 98, 77);
}
#partner .line-group-42 circle {
  fill: rgb(191, 99, 76);
}
#partner .line-group-43 circle {
  fill: rgb(192, 101, 76);
}
#partner .line-group-44 circle {
  fill: rgb(193, 103, 76);
}
#partner .line-group-45 circle {
  fill: rgb(195, 105, 76);
}
#partner .line-group-46 circle {
  fill: rgb(196, 106, 75);
}
#partner .line-group-47 circle {
  fill: rgb(197, 108, 75);
}
#partner .line-group-48 circle {
  fill: rgb(198, 110, 75);
}
#partner .line-group-49 circle {
  fill: rgb(199, 111, 74);
}
#partner .line-group-50 circle {
  fill: rgb(200, 113, 74);
}
#partner .line-group-51 circle {
  fill: rgb(201, 115, 74);
}
#partner .line-group-52 circle {
  fill: rgb(202, 116, 74);
}
#partner .line-group-53 circle {
  fill: rgb(203, 118, 73);
}
#partner .line-group-54 circle {
  fill: rgb(204, 120, 73);
}
#partner .line-group-55 circle {
  fill: rgb(206, 122, 73);
}
#partner .line-group-56 circle {
  fill: rgb(207, 123, 72);
}
#partner .line-group-57 circle {
  fill: rgb(208, 125, 72);
}
#partner .line-group-58 circle {
  fill: rgb(209, 127, 72);
}
#partner .line-group-59 circle {
  fill: rgb(210, 128, 72);
}
#partner .line-group-60 circle {
  fill: rgb(211, 130, 71);
}
#partner .line-group-61 circle {
  fill: rgb(212, 132, 71);
}
#partner .line-group-62 circle {
  fill: rgb(213, 133, 71);
}
#partner .line-group-63 circle {
  fill: rgb(214, 135, 71);
}
#partner .line-group-64 circle {
  fill: rgb(215, 137, 70);
}
#partner .line-group-65 circle {
  fill: rgb(217, 139, 70);
}
#partner .line-group-66 circle {
  fill: rgb(218, 140, 70);
}
#partner .line-group-67 circle {
  fill: rgb(219, 142, 69);
}
#partner .line-group-68 circle {
  fill: rgb(220, 144, 69);
}
#partner .line-group-69 circle {
  fill: rgb(221, 145, 69);
}
#partner .line-group-70 circle {
  fill: rgb(222, 147, 69);
}
#partner .line-group-71 circle {
  fill: rgb(223, 149, 68);
}
#partner .line-group-72 circle {
  fill: rgb(224, 150, 68);
}
#partner .line-group-73 circle {
  fill: rgb(225, 152, 68);
}
#partner .line-group-74 circle {
  fill: rgb(226, 154, 67);
}
#partner .line-group-75 circle {
  fill: rgb(228, 156, 67);
}
#partner .line-group-76 circle {
  fill: rgb(229, 157, 67);
}
#partner .line-group-77 circle {
  fill: rgb(230, 159, 67);
}
#partner .line-group-78 circle {
  fill: rgb(231, 161, 66);
}
#partner .line-group-79 circle {
  fill: rgb(232, 162, 66);
}
#partner .line-group-80 circle {
  fill: rgb(233, 164, 66);
}
#partner .line-group-81 circle {
  fill: rgb(234, 166, 66);
}
#partner .line-group-82 circle {
  fill: rgb(235, 167, 65);
}
#partner .line-group-83 circle {
  fill: rgb(236, 169, 65);
}
#partner .line-group-84 circle {
  fill: rgb(237, 171, 65);
}
#partner .line-group-85 circle {
  fill: rgb(239, 173, 64);
}
#partner .line-group-86 circle {
  fill: rgb(240, 174, 64);
}
#partner .line-group-87 circle {
  fill: rgb(241, 176, 64);
}
#partner .line-group-88 circle {
  fill: rgb(242, 178, 64);
}
#partner .line-group-89 circle {
  fill: rgb(243, 179, 63);
}
#partner .line-group-90 circle {
  fill: rgb(244, 181, 63);
}
#partner .line-group-91 circle {
  fill: rgb(243, 179, 63);
}
#partner .line-group-92 circle {
  fill: rgb(242, 178, 64);
}
#partner .line-group-93 circle {
  fill: rgb(241, 176, 64);
}
#partner .line-group-94 circle {
  fill: rgb(240, 174, 64);
}
#partner .line-group-95 circle {
  fill: rgb(239, 173, 64);
}
#partner .line-group-96 circle {
  fill: rgb(237, 171, 65);
}
#partner .line-group-97 circle {
  fill: rgb(236, 169, 65);
}
#partner .line-group-98 circle {
  fill: rgb(235, 167, 65);
}
#partner .line-group-99 circle {
  fill: rgb(234, 166, 66);
}
#partner .line-group-100 circle {
  fill: rgb(233, 164, 66);
}
#partner .line-group-101 circle {
  fill: rgb(232, 162, 66);
}
#partner .line-group-102 circle {
  fill: rgb(231, 161, 66);
}
#partner .line-group-103 circle {
  fill: rgb(230, 159, 67);
}
#partner .line-group-104 circle {
  fill: rgb(229, 157, 67);
}
#partner .line-group-105 circle {
  fill: rgb(228, 156, 67);
}
#partner .line-group-106 circle {
  fill: rgb(226, 154, 67);
}
#partner .line-group-107 circle {
  fill: rgb(225, 152, 68);
}
#partner .line-group-108 circle {
  fill: rgb(224, 150, 68);
}
#partner .line-group-109 circle {
  fill: rgb(223, 149, 68);
}
#partner .line-group-110 circle {
  fill: rgb(222, 147, 69);
}
#partner .line-group-111 circle {
  fill: rgb(221, 145, 69);
}
#partner .line-group-112 circle {
  fill: rgb(220, 144, 69);
}
#partner .line-group-113 circle {
  fill: rgb(219, 142, 69);
}
#partner .line-group-114 circle {
  fill: rgb(218, 140, 70);
}
#partner .line-group-115 circle {
  fill: rgb(217, 139, 70);
}
#partner .line-group-116 circle {
  fill: rgb(215, 137, 70);
}
#partner .line-group-117 circle {
  fill: rgb(214, 135, 71);
}
#partner .line-group-118 circle {
  fill: rgb(213, 133, 71);
}
#partner .line-group-119 circle {
  fill: rgb(212, 132, 71);
}
#partner .line-group-120 circle {
  fill: rgb(211, 130, 71);
}
#partner .line-group-121 circle {
  fill: rgb(210, 128, 72);
}
#partner .line-group-122 circle {
  fill: rgb(209, 127, 72);
}
#partner .line-group-123 circle {
  fill: rgb(208, 125, 72);
}
#partner .line-group-124 circle {
  fill: rgb(207, 123, 72);
}
#partner .line-group-125 circle {
  fill: rgb(206, 122, 73);
}
#partner .line-group-126 circle {
  fill: rgb(204, 120, 73);
}
#partner .line-group-127 circle {
  fill: rgb(203, 118, 73);
}
#partner .line-group-128 circle {
  fill: rgb(202, 116, 74);
}
#partner .line-group-129 circle {
  fill: rgb(201, 115, 74);
}
#partner .line-group-130 circle {
  fill: rgb(200, 113, 74);
}
#partner .line-group-131 circle {
  fill: rgb(199, 111, 74);
}
#partner .line-group-132 circle {
  fill: rgb(198, 110, 75);
}
#partner .line-group-133 circle {
  fill: rgb(197, 108, 75);
}
#partner .line-group-134 circle {
  fill: rgb(196, 106, 75);
}
#partner .line-group-135 circle {
  fill: rgb(195, 105, 76);
}
#partner .line-group-136 circle {
  fill: rgb(193, 103, 76);
}
#partner .line-group-137 circle {
  fill: rgb(192, 101, 76);
}
#partner .line-group-138 circle {
  fill: rgb(191, 99, 76);
}
#partner .line-group-139 circle {
  fill: rgb(190, 98, 77);
}
#partner .line-group-140 circle {
  fill: rgb(189, 96, 77);
}
#partner .line-group-141 circle {
  fill: rgb(188, 94, 77);
}
#partner .line-group-142 circle {
  fill: rgb(187, 93, 77);
}
#partner .line-group-143 circle {
  fill: rgb(186, 91, 78);
}
#partner .line-group-144 circle {
  fill: rgb(185, 89, 78);
}
#partner .line-group-145 circle {
  fill: rgb(184, 88, 78);
}
#partner .line-group-146 circle {
  fill: rgb(182, 86, 79);
}
#partner .line-group-147 circle {
  fill: rgb(181, 84, 79);
}
#partner .line-group-148 circle {
  fill: rgb(180, 82, 79);
}
#partner .line-group-149 circle {
  fill: rgb(179, 81, 79);
}
#partner .line-group-150 circle {
  fill: rgb(178, 79, 80);
}
#partner .line-group-151 circle {
  fill: rgb(177, 77, 80);
}
#partner .line-group-152 circle {
  fill: rgb(176, 76, 80);
}
#partner .line-group-153 circle {
  fill: rgb(175, 74, 81);
}
#partner .line-group-154 circle {
  fill: rgb(174, 72, 81);
}
#partner .line-group-155 circle {
  fill: rgb(173, 71, 81);
}
#partner .line-group-156 circle {
  fill: rgb(171, 69, 81);
}
#partner .line-group-157 circle {
  fill: rgb(170, 67, 82);
}
#partner .line-group-158 circle {
  fill: rgb(169, 65, 82);
}
#partner .line-group-159 circle {
  fill: rgb(168, 64, 82);
}
#partner .line-group-160 circle {
  fill: rgb(167, 62, 82);
}
#partner .line-group-161 circle {
  fill: rgb(166, 60, 83);
}
#partner .line-group-162 circle {
  fill: rgb(165, 59, 83);
}
#partner .line-group-163 circle {
  fill: rgb(164, 57, 83);
}
#partner .line-group-164 circle {
  fill: rgb(163, 55, 84);
}
#partner .line-group-165 circle {
  fill: rgb(162, 54, 84);
}
#partner .line-group-166 circle {
  fill: rgb(160, 52, 84);
}
#partner .line-group-167 circle {
  fill: rgb(159, 50, 84);
}
#partner .line-group-168 circle {
  fill: rgb(158, 48, 85);
}
#partner .line-group-169 circle {
  fill: rgb(157, 47, 85);
}
#partner .line-group-170 circle {
  fill: rgb(156, 45, 85);
}
#partner .line-group-171 circle {
  fill: rgb(155, 43, 86);
}
#partner .line-group-172 circle {
  fill: rgb(154, 42, 86);
}
#partner .line-group-173 circle {
  fill: rgb(153, 40, 86);
}
#partner .line-group-174 circle {
  fill: rgb(152, 38, 86);
}
#partner .line-group-175 circle {
  fill: rgb(151, 37, 87);
}
#partner .line-group-176 circle {
  fill: rgb(149, 35, 87);
}
#partner .line-group-177 circle {
  fill: rgb(148, 33, 87);
}
#partner .line-group-178 circle {
  fill: rgb(147, 31, 87);
}
#partner .line-group-179 circle {
  fill: rgb(146, 30, 88);
}

#platform {
  transform: rotate(-90deg);
}
#platform .line-group-0 circle {
  fill: rgb(143, 170, 226);
}
#platform .line-group-1 circle {
  fill: rgb(143, 171, 225);
}
#platform .line-group-2 circle {
  fill: rgb(144, 171, 224);
}
#platform .line-group-3 circle {
  fill: rgb(144, 172, 223);
}
#platform .line-group-4 circle {
  fill: rgb(145, 172, 222);
}
#platform .line-group-5 circle {
  fill: rgb(145, 173, 221);
}
#platform .line-group-6 circle {
  fill: rgb(145, 174, 220);
}
#platform .line-group-7 circle {
  fill: rgb(146, 174, 219);
}
#platform .line-group-8 circle {
  fill: rgb(146, 175, 218);
}
#platform .line-group-9 circle {
  fill: rgb(146, 175, 217);
}
#platform .line-group-10 circle {
  fill: rgb(147, 176, 216);
}
#platform .line-group-11 circle {
  fill: rgb(147, 177, 215);
}
#platform .line-group-12 circle {
  fill: rgb(148, 177, 214);
}
#platform .line-group-13 circle {
  fill: rgb(148, 178, 213);
}
#platform .line-group-14 circle {
  fill: rgb(148, 178, 212);
}
#platform .line-group-15 circle {
  fill: rgb(149, 179, 211);
}
#platform .line-group-16 circle {
  fill: rgb(149, 180, 210);
}
#platform .line-group-17 circle {
  fill: rgb(149, 180, 209);
}
#platform .line-group-18 circle {
  fill: rgb(150, 181, 208);
}
#platform .line-group-19 circle {
  fill: rgb(150, 181, 207);
}
#platform .line-group-20 circle {
  fill: rgb(151, 182, 206);
}
#platform .line-group-21 circle {
  fill: rgb(151, 183, 205);
}
#platform .line-group-22 circle {
  fill: rgb(151, 183, 204);
}
#platform .line-group-23 circle {
  fill: rgb(152, 184, 203);
}
#platform .line-group-24 circle {
  fill: rgb(152, 184, 202);
}
#platform .line-group-25 circle {
  fill: rgb(152, 185, 201);
}
#platform .line-group-26 circle {
  fill: rgb(153, 186, 200);
}
#platform .line-group-27 circle {
  fill: rgb(153, 186, 199);
}
#platform .line-group-28 circle {
  fill: rgb(154, 187, 198);
}
#platform .line-group-29 circle {
  fill: rgb(154, 187, 197);
}
#platform .line-group-30 circle {
  fill: rgb(154, 188, 196);
}
#platform .line-group-31 circle {
  fill: rgb(155, 189, 195);
}
#platform .line-group-32 circle {
  fill: rgb(155, 189, 194);
}
#platform .line-group-33 circle {
  fill: rgb(155, 190, 193);
}
#platform .line-group-34 circle {
  fill: rgb(156, 190, 192);
}
#platform .line-group-35 circle {
  fill: rgb(156, 191, 191);
}
#platform .line-group-36 circle {
  fill: rgb(157, 192, 190);
}
#platform .line-group-37 circle {
  fill: rgb(157, 192, 189);
}
#platform .line-group-38 circle {
  fill: rgb(157, 193, 188);
}
#platform .line-group-39 circle {
  fill: rgb(158, 193, 187);
}
#platform .line-group-40 circle {
  fill: rgb(158, 194, 186);
}
#platform .line-group-41 circle {
  fill: rgb(158, 195, 185);
}
#platform .line-group-42 circle {
  fill: rgb(159, 195, 184);
}
#platform .line-group-43 circle {
  fill: rgb(159, 196, 183);
}
#platform .line-group-44 circle {
  fill: rgb(160, 196, 182);
}
#platform .line-group-45 circle {
  fill: rgb(160, 197, 181);
}
#platform .line-group-46 circle {
  fill: rgb(160, 198, 180);
}
#platform .line-group-47 circle {
  fill: rgb(161, 198, 179);
}
#platform .line-group-48 circle {
  fill: rgb(161, 199, 178);
}
#platform .line-group-49 circle {
  fill: rgb(162, 199, 177);
}
#platform .line-group-50 circle {
  fill: rgb(162, 200, 176);
}
#platform .line-group-51 circle {
  fill: rgb(162, 201, 175);
}
#platform .line-group-52 circle {
  fill: rgb(163, 201, 174);
}
#platform .line-group-53 circle {
  fill: rgb(163, 202, 173);
}
#platform .line-group-54 circle {
  fill: rgb(163, 202, 172);
}
#platform .line-group-55 circle {
  fill: rgb(164, 203, 171);
}
#platform .line-group-56 circle {
  fill: rgb(164, 204, 170);
}
#platform .line-group-57 circle {
  fill: rgb(165, 204, 169);
}
#platform .line-group-58 circle {
  fill: rgb(165, 205, 168);
}
#platform .line-group-59 circle {
  fill: rgb(165, 205, 167);
}
#platform .line-group-60 circle {
  fill: rgb(166, 206, 166);
}
#platform .line-group-61 circle {
  fill: rgb(166, 207, 165);
}
#platform .line-group-62 circle {
  fill: rgb(166, 207, 164);
}
#platform .line-group-63 circle {
  fill: rgb(167, 208, 163);
}
#platform .line-group-64 circle {
  fill: rgb(167, 208, 162);
}
#platform .line-group-65 circle {
  fill: rgb(168, 209, 161);
}
#platform .line-group-66 circle {
  fill: rgb(168, 210, 160);
}
#platform .line-group-67 circle {
  fill: rgb(168, 210, 159);
}
#platform .line-group-68 circle {
  fill: rgb(169, 211, 158);
}
#platform .line-group-69 circle {
  fill: rgb(169, 211, 157);
}
#platform .line-group-70 circle {
  fill: rgb(169, 212, 156);
}
#platform .line-group-71 circle {
  fill: rgb(170, 213, 155);
}
#platform .line-group-72 circle {
  fill: rgb(170, 213, 154);
}
#platform .line-group-73 circle {
  fill: rgb(171, 214, 153);
}
#platform .line-group-74 circle {
  fill: rgb(171, 214, 152);
}
#platform .line-group-75 circle {
  fill: rgb(171, 215, 151);
}
#platform .line-group-76 circle {
  fill: rgb(172, 216, 150);
}
#platform .line-group-77 circle {
  fill: rgb(172, 216, 149);
}
#platform .line-group-78 circle {
  fill: rgb(172, 217, 148);
}
#platform .line-group-79 circle {
  fill: rgb(173, 217, 147);
}
#platform .line-group-80 circle {
  fill: rgb(173, 218, 146);
}
#platform .line-group-81 circle {
  fill: rgb(174, 219, 145);
}
#platform .line-group-82 circle {
  fill: rgb(174, 219, 144);
}
#platform .line-group-83 circle {
  fill: rgb(174, 220, 143);
}
#platform .line-group-84 circle {
  fill: rgb(175, 220, 142);
}
#platform .line-group-85 circle {
  fill: rgb(175, 221, 141);
}
#platform .line-group-86 circle {
  fill: rgb(175, 222, 140);
}
#platform .line-group-87 circle {
  fill: rgb(176, 222, 139);
}
#platform .line-group-88 circle {
  fill: rgb(176, 223, 138);
}
#platform .line-group-89 circle {
  fill: rgb(177, 223, 137);
}
#platform .line-group-90 circle {
  fill: rgb(177, 224, 136);
}
#platform .line-group-91 circle {
  fill: rgb(177, 223, 137);
}
#platform .line-group-92 circle {
  fill: rgb(176, 223, 138);
}
#platform .line-group-93 circle {
  fill: rgb(176, 222, 139);
}
#platform .line-group-94 circle {
  fill: rgb(175, 222, 140);
}
#platform .line-group-95 circle {
  fill: rgb(175, 221, 141);
}
#platform .line-group-96 circle {
  fill: rgb(175, 220, 142);
}
#platform .line-group-97 circle {
  fill: rgb(174, 220, 143);
}
#platform .line-group-98 circle {
  fill: rgb(174, 219, 144);
}
#platform .line-group-99 circle {
  fill: rgb(174, 219, 145);
}
#platform .line-group-100 circle {
  fill: rgb(173, 218, 146);
}
#platform .line-group-101 circle {
  fill: rgb(173, 217, 147);
}
#platform .line-group-102 circle {
  fill: rgb(172, 217, 148);
}
#platform .line-group-103 circle {
  fill: rgb(172, 216, 149);
}
#platform .line-group-104 circle {
  fill: rgb(172, 216, 150);
}
#platform .line-group-105 circle {
  fill: rgb(171, 215, 151);
}
#platform .line-group-106 circle {
  fill: rgb(171, 214, 152);
}
#platform .line-group-107 circle {
  fill: rgb(171, 214, 153);
}
#platform .line-group-108 circle {
  fill: rgb(170, 213, 154);
}
#platform .line-group-109 circle {
  fill: rgb(170, 213, 155);
}
#platform .line-group-110 circle {
  fill: rgb(169, 212, 156);
}
#platform .line-group-111 circle {
  fill: rgb(169, 211, 157);
}
#platform .line-group-112 circle {
  fill: rgb(169, 211, 158);
}
#platform .line-group-113 circle {
  fill: rgb(168, 210, 159);
}
#platform .line-group-114 circle {
  fill: rgb(168, 210, 160);
}
#platform .line-group-115 circle {
  fill: rgb(168, 209, 161);
}
#platform .line-group-116 circle {
  fill: rgb(167, 208, 162);
}
#platform .line-group-117 circle {
  fill: rgb(167, 208, 163);
}
#platform .line-group-118 circle {
  fill: rgb(166, 207, 164);
}
#platform .line-group-119 circle {
  fill: rgb(166, 207, 165);
}
#platform .line-group-120 circle {
  fill: rgb(166, 206, 166);
}
#platform .line-group-121 circle {
  fill: rgb(165, 205, 167);
}
#platform .line-group-122 circle {
  fill: rgb(165, 205, 168);
}
#platform .line-group-123 circle {
  fill: rgb(165, 204, 169);
}
#platform .line-group-124 circle {
  fill: rgb(164, 204, 170);
}
#platform .line-group-125 circle {
  fill: rgb(164, 203, 171);
}
#platform .line-group-126 circle {
  fill: rgb(163, 202, 172);
}
#platform .line-group-127 circle {
  fill: rgb(163, 202, 173);
}
#platform .line-group-128 circle {
  fill: rgb(163, 201, 174);
}
#platform .line-group-129 circle {
  fill: rgb(162, 201, 175);
}
#platform .line-group-130 circle {
  fill: rgb(162, 200, 176);
}
#platform .line-group-131 circle {
  fill: rgb(162, 199, 177);
}
#platform .line-group-132 circle {
  fill: rgb(161, 199, 178);
}
#platform .line-group-133 circle {
  fill: rgb(161, 198, 179);
}
#platform .line-group-134 circle {
  fill: rgb(160, 198, 180);
}
#platform .line-group-135 circle {
  fill: rgb(160, 197, 181);
}
#platform .line-group-136 circle {
  fill: rgb(160, 196, 182);
}
#platform .line-group-137 circle {
  fill: rgb(159, 196, 183);
}
#platform .line-group-138 circle {
  fill: rgb(159, 195, 184);
}
#platform .line-group-139 circle {
  fill: rgb(158, 195, 185);
}
#platform .line-group-140 circle {
  fill: rgb(158, 194, 186);
}
#platform .line-group-141 circle {
  fill: rgb(158, 193, 187);
}
#platform .line-group-142 circle {
  fill: rgb(157, 193, 188);
}
#platform .line-group-143 circle {
  fill: rgb(157, 192, 189);
}
#platform .line-group-144 circle {
  fill: rgb(157, 192, 190);
}
#platform .line-group-145 circle {
  fill: rgb(156, 191, 191);
}
#platform .line-group-146 circle {
  fill: rgb(156, 190, 192);
}
#platform .line-group-147 circle {
  fill: rgb(155, 190, 193);
}
#platform .line-group-148 circle {
  fill: rgb(155, 189, 194);
}
#platform .line-group-149 circle {
  fill: rgb(155, 189, 195);
}
#platform .line-group-150 circle {
  fill: rgb(154, 188, 196);
}
#platform .line-group-151 circle {
  fill: rgb(154, 187, 197);
}
#platform .line-group-152 circle {
  fill: rgb(154, 187, 198);
}
#platform .line-group-153 circle {
  fill: rgb(153, 186, 199);
}
#platform .line-group-154 circle {
  fill: rgb(153, 186, 200);
}
#platform .line-group-155 circle {
  fill: rgb(152, 185, 201);
}
#platform .line-group-156 circle {
  fill: rgb(152, 184, 202);
}
#platform .line-group-157 circle {
  fill: rgb(152, 184, 203);
}
#platform .line-group-158 circle {
  fill: rgb(151, 183, 204);
}
#platform .line-group-159 circle {
  fill: rgb(151, 183, 205);
}
#platform .line-group-160 circle {
  fill: rgb(151, 182, 206);
}
#platform .line-group-161 circle {
  fill: rgb(150, 181, 207);
}
#platform .line-group-162 circle {
  fill: rgb(150, 181, 208);
}
#platform .line-group-163 circle {
  fill: rgb(149, 180, 209);
}
#platform .line-group-164 circle {
  fill: rgb(149, 180, 210);
}
#platform .line-group-165 circle {
  fill: rgb(149, 179, 211);
}
#platform .line-group-166 circle {
  fill: rgb(148, 178, 212);
}
#platform .line-group-167 circle {
  fill: rgb(148, 178, 213);
}
#platform .line-group-168 circle {
  fill: rgb(148, 177, 214);
}
#platform .line-group-169 circle {
  fill: rgb(147, 177, 215);
}
#platform .line-group-170 circle {
  fill: rgb(147, 176, 216);
}
#platform .line-group-171 circle {
  fill: rgb(146, 175, 217);
}
#platform .line-group-172 circle {
  fill: rgb(146, 175, 218);
}
#platform .line-group-173 circle {
  fill: rgb(146, 174, 219);
}
#platform .line-group-174 circle {
  fill: rgb(145, 174, 220);
}
#platform .line-group-175 circle {
  fill: rgb(145, 173, 221);
}
#platform .line-group-176 circle {
  fill: rgb(145, 172, 222);
}
#platform .line-group-177 circle {
  fill: rgb(144, 172, 223);
}
#platform .line-group-178 circle {
  fill: rgb(144, 171, 224);
}
#platform .line-group-179 circle {
  fill: rgb(143, 171, 225);
}

#solutions {
  transform: rotate(90deg);
}
#solutions .line-group-0 circle {
  fill: rgb(236, 89, 53);
}
#solutions .line-group-1 circle {
  fill: rgb(236, 90, 53);
}
#solutions .line-group-2 circle {
  fill: rgb(236, 91, 53);
}
#solutions .line-group-3 circle {
  fill: rgb(236, 92, 53);
}
#solutions .line-group-4 circle {
  fill: rgb(236, 93, 53);
}
#solutions .line-group-5 circle {
  fill: rgb(236, 94, 54);
}
#solutions .line-group-6 circle {
  fill: rgb(237, 95, 54);
}
#solutions .line-group-7 circle {
  fill: rgb(237, 96, 54);
}
#solutions .line-group-8 circle {
  fill: rgb(237, 97, 54);
}
#solutions .line-group-9 circle {
  fill: rgb(237, 98, 54);
}
#solutions .line-group-10 circle {
  fill: rgb(237, 99, 54);
}
#solutions .line-group-11 circle {
  fill: rgb(237, 100, 54);
}
#solutions .line-group-12 circle {
  fill: rgb(237, 101, 54);
}
#solutions .line-group-13 circle {
  fill: rgb(237, 102, 54);
}
#solutions .line-group-14 circle {
  fill: rgb(237, 103, 55);
}
#solutions .line-group-15 circle {
  fill: rgb(237, 104, 55);
}
#solutions .line-group-16 circle {
  fill: rgb(237, 105, 55);
}
#solutions .line-group-17 circle {
  fill: rgb(238, 106, 55);
}
#solutions .line-group-18 circle {
  fill: rgb(238, 107, 55);
}
#solutions .line-group-19 circle {
  fill: rgb(238, 108, 55);
}
#solutions .line-group-20 circle {
  fill: rgb(238, 109, 55);
}
#solutions .line-group-21 circle {
  fill: rgb(238, 110, 55);
}
#solutions .line-group-22 circle {
  fill: rgb(238, 111, 55);
}
#solutions .line-group-23 circle {
  fill: rgb(238, 113, 56);
}
#solutions .line-group-24 circle {
  fill: rgb(238, 114, 56);
}
#solutions .line-group-25 circle {
  fill: rgb(238, 115, 56);
}
#solutions .line-group-26 circle {
  fill: rgb(238, 116, 56);
}
#solutions .line-group-27 circle {
  fill: rgb(238, 117, 56);
}
#solutions .line-group-28 circle {
  fill: rgb(238, 118, 56);
}
#solutions .line-group-29 circle {
  fill: rgb(239, 119, 56);
}
#solutions .line-group-30 circle {
  fill: rgb(239, 120, 56);
}
#solutions .line-group-31 circle {
  fill: rgb(239, 121, 56);
}
#solutions .line-group-32 circle {
  fill: rgb(239, 122, 57);
}
#solutions .line-group-33 circle {
  fill: rgb(239, 123, 57);
}
#solutions .line-group-34 circle {
  fill: rgb(239, 124, 57);
}
#solutions .line-group-35 circle {
  fill: rgb(239, 125, 57);
}
#solutions .line-group-36 circle {
  fill: rgb(239, 126, 57);
}
#solutions .line-group-37 circle {
  fill: rgb(239, 127, 57);
}
#solutions .line-group-38 circle {
  fill: rgb(239, 128, 57);
}
#solutions .line-group-39 circle {
  fill: rgb(239, 129, 57);
}
#solutions .line-group-40 circle {
  fill: rgb(240, 130, 57);
}
#solutions .line-group-41 circle {
  fill: rgb(240, 131, 58);
}
#solutions .line-group-42 circle {
  fill: rgb(240, 132, 58);
}
#solutions .line-group-43 circle {
  fill: rgb(240, 133, 58);
}
#solutions .line-group-44 circle {
  fill: rgb(240, 134, 58);
}
#solutions .line-group-45 circle {
  fill: rgb(240, 135, 58);
}
#solutions .line-group-46 circle {
  fill: rgb(240, 136, 58);
}
#solutions .line-group-47 circle {
  fill: rgb(240, 137, 58);
}
#solutions .line-group-48 circle {
  fill: rgb(240, 138, 58);
}
#solutions .line-group-49 circle {
  fill: rgb(240, 139, 58);
}
#solutions .line-group-50 circle {
  fill: rgb(240, 140, 59);
}
#solutions .line-group-51 circle {
  fill: rgb(241, 141, 59);
}
#solutions .line-group-52 circle {
  fill: rgb(241, 142, 59);
}
#solutions .line-group-53 circle {
  fill: rgb(241, 143, 59);
}
#solutions .line-group-54 circle {
  fill: rgb(241, 144, 59);
}
#solutions .line-group-55 circle {
  fill: rgb(241, 145, 59);
}
#solutions .line-group-56 circle {
  fill: rgb(241, 146, 59);
}
#solutions .line-group-57 circle {
  fill: rgb(241, 147, 59);
}
#solutions .line-group-58 circle {
  fill: rgb(241, 148, 59);
}
#solutions .line-group-59 circle {
  fill: rgb(241, 149, 60);
}
#solutions .line-group-60 circle {
  fill: rgb(241, 150, 60);
}
#solutions .line-group-61 circle {
  fill: rgb(241, 151, 60);
}
#solutions .line-group-62 circle {
  fill: rgb(242, 152, 60);
}
#solutions .line-group-63 circle {
  fill: rgb(242, 153, 60);
}
#solutions .line-group-64 circle {
  fill: rgb(242, 154, 60);
}
#solutions .line-group-65 circle {
  fill: rgb(242, 155, 60);
}
#solutions .line-group-66 circle {
  fill: rgb(242, 156, 60);
}
#solutions .line-group-67 circle {
  fill: rgb(242, 157, 60);
}
#solutions .line-group-68 circle {
  fill: rgb(242, 159, 61);
}
#solutions .line-group-69 circle {
  fill: rgb(242, 160, 61);
}
#solutions .line-group-70 circle {
  fill: rgb(242, 161, 61);
}
#solutions .line-group-71 circle {
  fill: rgb(242, 162, 61);
}
#solutions .line-group-72 circle {
  fill: rgb(242, 163, 61);
}
#solutions .line-group-73 circle {
  fill: rgb(242, 164, 61);
}
#solutions .line-group-74 circle {
  fill: rgb(243, 165, 61);
}
#solutions .line-group-75 circle {
  fill: rgb(243, 166, 61);
}
#solutions .line-group-76 circle {
  fill: rgb(243, 167, 61);
}
#solutions .line-group-77 circle {
  fill: rgb(243, 168, 62);
}
#solutions .line-group-78 circle {
  fill: rgb(243, 169, 62);
}
#solutions .line-group-79 circle {
  fill: rgb(243, 170, 62);
}
#solutions .line-group-80 circle {
  fill: rgb(243, 171, 62);
}
#solutions .line-group-81 circle {
  fill: rgb(243, 172, 62);
}
#solutions .line-group-82 circle {
  fill: rgb(243, 173, 62);
}
#solutions .line-group-83 circle {
  fill: rgb(243, 174, 62);
}
#solutions .line-group-84 circle {
  fill: rgb(243, 175, 62);
}
#solutions .line-group-85 circle {
  fill: rgb(244, 176, 62);
}
#solutions .line-group-86 circle {
  fill: rgb(244, 177, 63);
}
#solutions .line-group-87 circle {
  fill: rgb(244, 178, 63);
}
#solutions .line-group-88 circle {
  fill: rgb(244, 179, 63);
}
#solutions .line-group-89 circle {
  fill: rgb(244, 180, 63);
}
#solutions .line-group-90 circle {
  fill: rgb(244, 181, 63);
}
#solutions .line-group-91 circle {
  fill: rgb(244, 180, 63);
}
#solutions .line-group-92 circle {
  fill: rgb(244, 179, 63);
}
#solutions .line-group-93 circle {
  fill: rgb(244, 178, 63);
}
#solutions .line-group-94 circle {
  fill: rgb(244, 177, 63);
}
#solutions .line-group-95 circle {
  fill: rgb(244, 176, 62);
}
#solutions .line-group-96 circle {
  fill: rgb(243, 175, 62);
}
#solutions .line-group-97 circle {
  fill: rgb(243, 174, 62);
}
#solutions .line-group-98 circle {
  fill: rgb(243, 173, 62);
}
#solutions .line-group-99 circle {
  fill: rgb(243, 172, 62);
}
#solutions .line-group-100 circle {
  fill: rgb(243, 171, 62);
}
#solutions .line-group-101 circle {
  fill: rgb(243, 170, 62);
}
#solutions .line-group-102 circle {
  fill: rgb(243, 169, 62);
}
#solutions .line-group-103 circle {
  fill: rgb(243, 168, 62);
}
#solutions .line-group-104 circle {
  fill: rgb(243, 167, 61);
}
#solutions .line-group-105 circle {
  fill: rgb(243, 166, 61);
}
#solutions .line-group-106 circle {
  fill: rgb(243, 165, 61);
}
#solutions .line-group-107 circle {
  fill: rgb(242, 164, 61);
}
#solutions .line-group-108 circle {
  fill: rgb(242, 163, 61);
}
#solutions .line-group-109 circle {
  fill: rgb(242, 162, 61);
}
#solutions .line-group-110 circle {
  fill: rgb(242, 161, 61);
}
#solutions .line-group-111 circle {
  fill: rgb(242, 160, 61);
}
#solutions .line-group-112 circle {
  fill: rgb(242, 159, 61);
}
#solutions .line-group-113 circle {
  fill: rgb(242, 157, 60);
}
#solutions .line-group-114 circle {
  fill: rgb(242, 156, 60);
}
#solutions .line-group-115 circle {
  fill: rgb(242, 155, 60);
}
#solutions .line-group-116 circle {
  fill: rgb(242, 154, 60);
}
#solutions .line-group-117 circle {
  fill: rgb(242, 153, 60);
}
#solutions .line-group-118 circle {
  fill: rgb(242, 152, 60);
}
#solutions .line-group-119 circle {
  fill: rgb(241, 151, 60);
}
#solutions .line-group-120 circle {
  fill: rgb(241, 150, 60);
}
#solutions .line-group-121 circle {
  fill: rgb(241, 149, 60);
}
#solutions .line-group-122 circle {
  fill: rgb(241, 148, 59);
}
#solutions .line-group-123 circle {
  fill: rgb(241, 147, 59);
}
#solutions .line-group-124 circle {
  fill: rgb(241, 146, 59);
}
#solutions .line-group-125 circle {
  fill: rgb(241, 145, 59);
}
#solutions .line-group-126 circle {
  fill: rgb(241, 144, 59);
}
#solutions .line-group-127 circle {
  fill: rgb(241, 143, 59);
}
#solutions .line-group-128 circle {
  fill: rgb(241, 142, 59);
}
#solutions .line-group-129 circle {
  fill: rgb(241, 141, 59);
}
#solutions .line-group-130 circle {
  fill: rgb(240, 140, 59);
}
#solutions .line-group-131 circle {
  fill: rgb(240, 139, 58);
}
#solutions .line-group-132 circle {
  fill: rgb(240, 138, 58);
}
#solutions .line-group-133 circle {
  fill: rgb(240, 137, 58);
}
#solutions .line-group-134 circle {
  fill: rgb(240, 136, 58);
}
#solutions .line-group-135 circle {
  fill: rgb(240, 135, 58);
}
#solutions .line-group-136 circle {
  fill: rgb(240, 134, 58);
}
#solutions .line-group-137 circle {
  fill: rgb(240, 133, 58);
}
#solutions .line-group-138 circle {
  fill: rgb(240, 132, 58);
}
#solutions .line-group-139 circle {
  fill: rgb(240, 131, 58);
}
#solutions .line-group-140 circle {
  fill: rgb(240, 130, 57);
}
#solutions .line-group-141 circle {
  fill: rgb(239, 129, 57);
}
#solutions .line-group-142 circle {
  fill: rgb(239, 128, 57);
}
#solutions .line-group-143 circle {
  fill: rgb(239, 127, 57);
}
#solutions .line-group-144 circle {
  fill: rgb(239, 126, 57);
}
#solutions .line-group-145 circle {
  fill: rgb(239, 125, 57);
}
#solutions .line-group-146 circle {
  fill: rgb(239, 124, 57);
}
#solutions .line-group-147 circle {
  fill: rgb(239, 123, 57);
}
#solutions .line-group-148 circle {
  fill: rgb(239, 122, 57);
}
#solutions .line-group-149 circle {
  fill: rgb(239, 121, 56);
}
#solutions .line-group-150 circle {
  fill: rgb(239, 120, 56);
}
#solutions .line-group-151 circle {
  fill: rgb(239, 119, 56);
}
#solutions .line-group-152 circle {
  fill: rgb(238, 118, 56);
}
#solutions .line-group-153 circle {
  fill: rgb(238, 117, 56);
}
#solutions .line-group-154 circle {
  fill: rgb(238, 116, 56);
}
#solutions .line-group-155 circle {
  fill: rgb(238, 115, 56);
}
#solutions .line-group-156 circle {
  fill: rgb(238, 114, 56);
}
#solutions .line-group-157 circle {
  fill: rgb(238, 113, 56);
}
#solutions .line-group-158 circle {
  fill: rgb(238, 111, 55);
}
#solutions .line-group-159 circle {
  fill: rgb(238, 110, 55);
}
#solutions .line-group-160 circle {
  fill: rgb(238, 109, 55);
}
#solutions .line-group-161 circle {
  fill: rgb(238, 108, 55);
}
#solutions .line-group-162 circle {
  fill: rgb(238, 107, 55);
}
#solutions .line-group-163 circle {
  fill: rgb(238, 106, 55);
}
#solutions .line-group-164 circle {
  fill: rgb(237, 105, 55);
}
#solutions .line-group-165 circle {
  fill: rgb(237, 104, 55);
}
#solutions .line-group-166 circle {
  fill: rgb(237, 103, 55);
}
#solutions .line-group-167 circle {
  fill: rgb(237, 102, 54);
}
#solutions .line-group-168 circle {
  fill: rgb(237, 101, 54);
}
#solutions .line-group-169 circle {
  fill: rgb(237, 100, 54);
}
#solutions .line-group-170 circle {
  fill: rgb(237, 99, 54);
}
#solutions .line-group-171 circle {
  fill: rgb(237, 98, 54);
}
#solutions .line-group-172 circle {
  fill: rgb(237, 97, 54);
}
#solutions .line-group-173 circle {
  fill: rgb(237, 96, 54);
}
#solutions .line-group-174 circle {
  fill: rgb(237, 95, 54);
}
#solutions .line-group-175 circle {
  fill: rgb(236, 94, 54);
}
#solutions .line-group-176 circle {
  fill: rgb(236, 93, 53);
}
#solutions .line-group-177 circle {
  fill: rgb(236, 92, 53);
}
#solutions .line-group-178 circle {
  fill: rgb(236, 91, 53);
}
#solutions .line-group-179 circle {
  fill: rgb(236, 90, 53);
}

/*# sourceMappingURL=style.css.map */
