body {
  margin: 0;
  padding: 0;
  background: #111727;
}
body .controls {
  z-index: 10;
  display: flex;
  padding: 48vh 1vw;
  justify-content: space-between;
  position: absolute;
  width: 98vw;
}
body .controls button {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 1rem;
  border-radius: 50%;
  border: none;
  width: 47.5px;
  text-align: center;
  transition: all 0.25s;
}
body .controls button:hover {
  background-color: white;
}
body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
body .container svg {
  width: 100vmin;
  height: 100vmin;
  fill: orange;
}
body .container #shadow-svg {
  stroke: white;
}

#company svg#circle-svg #circle-pattern {
  transform: rotate(135deg);
}
#company svg#circle-svg #shadow-svg {
  stroke: #8FAAE2;
}
#company .line-group-0 circle {
  fill: #be828c;
}
#company .line-group-1 circle {
  fill: #bf8088;
}
#company .line-group-2 circle {
  fill: #c17f85;
}
#company .line-group-3 circle {
  fill: #c27d82;
}
#company .line-group-4 circle {
  fill: #c47c7f;
}
#company .line-group-5 circle {
  fill: #c67a7c;
}
#company .line-group-6 circle {
  fill: #c7797a;
}
#company .line-group-7 circle {
  fill: #c97877;
}
#company .line-group-8 circle {
  fill: #ca7674;
}
#company .line-group-9 circle {
  fill: #cc7571;
}
#company .line-group-10 circle {
  fill: #cd746e;
}
#company .line-group-11 circle {
  fill: #cf726b;
}
#company .line-group-12 circle {
  fill: #d07168;
}
#company .line-group-13 circle {
  fill: #d27066;
}
#company .line-group-14 circle {
  fill: #d36e63;
}
#company .line-group-15 circle {
  fill: #d56d60;
}
#company .line-group-16 circle {
  fill: #d66c5e;
}
#company .line-group-17 circle {
  fill: #d86b5b;
}
#company .line-group-18 circle {
  fill: #d96a59;
}
#company .line-group-19 circle {
  fill: #da6956;
}
#company .line-group-20 circle {
  fill: #db6754;
}
#company .line-group-21 circle {
  fill: #dd6652;
}
#company .line-group-22 circle {
  fill: #de654f;
}
#company .line-group-23 circle {
  fill: #df644d;
}
#company .line-group-24 circle {
  fill: #e0634b;
}
#company .line-group-25 circle {
  fill: #e16249;
}
#company .line-group-26 circle {
  fill: #e26247;
}
#company .line-group-27 circle {
  fill: #e36146;
}
#company .line-group-28 circle {
  fill: #e46044;
}
#company .line-group-29 circle {
  fill: #e55f42;
}
#company .line-group-30 circle {
  fill: #e65e41;
}
#company .line-group-31 circle {
  fill: #e75e3f;
}
#company .line-group-32 circle {
  fill: #e75d3e;
}
#company .line-group-33 circle {
  fill: #e85d3c;
}
#company .line-group-34 circle {
  fill: #e95c3b;
}
#company .line-group-35 circle {
  fill: #e95b3a;
}
#company .line-group-36 circle {
  fill: #ea5b39;
}
#company .line-group-37 circle {
  fill: #ea5b38;
}
#company .line-group-38 circle {
  fill: #eb5a38;
}
#company .line-group-39 circle {
  fill: #eb5a37;
}
#company .line-group-40 circle {
  fill: #eb5a36;
}
#company .line-group-41 circle {
  fill: #ec5936;
}
#company .line-group-42 circle {
  fill: #ec5935;
}
#company .line-group-43 circle {
  fill: #ec5935;
}
#company .line-group-44 circle {
  fill: #ec5935;
}
#company .line-group-45 circle {
  fill: #ec5935;
}
#company .line-group-46 circle {
  fill: #ec5935;
}
#company .line-group-47 circle {
  fill: #ec5935;
}
#company .line-group-48 circle {
  fill: #ec5935;
}
#company .line-group-49 circle {
  fill: #ec5936;
}
#company .line-group-50 circle {
  fill: #eb5a36;
}
#company .line-group-51 circle {
  fill: #eb5a37;
}
#company .line-group-52 circle {
  fill: #eb5a38;
}
#company .line-group-53 circle {
  fill: #ea5b38;
}
#company .line-group-54 circle {
  fill: #ea5b39;
}
#company .line-group-55 circle {
  fill: #e95b3a;
}
#company .line-group-56 circle {
  fill: #e95c3b;
}
#company .line-group-57 circle {
  fill: #e85d3c;
}
#company .line-group-58 circle {
  fill: #e75d3e;
}
#company .line-group-59 circle {
  fill: #e75e3f;
}
#company .line-group-60 circle {
  fill: #e65e41;
}
#company .line-group-61 circle {
  fill: #e55f42;
}
#company .line-group-62 circle {
  fill: #e46044;
}
#company .line-group-63 circle {
  fill: #e36146;
}
#company .line-group-64 circle {
  fill: #e26247;
}
#company .line-group-65 circle {
  fill: #e16249;
}
#company .line-group-66 circle {
  fill: #e0634b;
}
#company .line-group-67 circle {
  fill: #df644d;
}
#company .line-group-68 circle {
  fill: #de654f;
}
#company .line-group-69 circle {
  fill: #dd6652;
}
#company .line-group-70 circle {
  fill: #db6754;
}
#company .line-group-71 circle {
  fill: #da6956;
}
#company .line-group-72 circle {
  fill: #d96a59;
}
#company .line-group-73 circle {
  fill: #d86b5b;
}
#company .line-group-74 circle {
  fill: #d66c5e;
}
#company .line-group-75 circle {
  fill: #d56d60;
}
#company .line-group-76 circle {
  fill: #d36e63;
}
#company .line-group-77 circle {
  fill: #d27066;
}
#company .line-group-78 circle {
  fill: #d07168;
}
#company .line-group-79 circle {
  fill: #cf726b;
}
#company .line-group-80 circle {
  fill: #cd746e;
}
#company .line-group-81 circle {
  fill: #cc7571;
}
#company .line-group-82 circle {
  fill: #ca7674;
}
#company .line-group-83 circle {
  fill: #c97877;
}
#company .line-group-84 circle {
  fill: #c7797a;
}
#company .line-group-85 circle {
  fill: #c67a7c;
}
#company .line-group-86 circle {
  fill: #c47c7f;
}
#company .line-group-87 circle {
  fill: #c27d82;
}
#company .line-group-88 circle {
  fill: #c17f85;
}
#company .line-group-89 circle {
  fill: #bf8088;
}
#company .line-group-90 circle {
  fill: #bd828c;
}
#company .line-group-91 circle {
  fill: #bc838f;
}
#company .line-group-92 circle {
  fill: #ba8492;
}
#company .line-group-93 circle {
  fill: #b98695;
}
#company .line-group-94 circle {
  fill: #b78798;
}
#company .line-group-95 circle {
  fill: #b5899b;
}
#company .line-group-96 circle {
  fill: #b48a9d;
}
#company .line-group-97 circle {
  fill: #b28ba0;
}
#company .line-group-98 circle {
  fill: #b18da3;
}
#company .line-group-99 circle {
  fill: #af8ea6;
}
#company .line-group-100 circle {
  fill: #ae8fa9;
}
#company .line-group-101 circle {
  fill: #ac91ac;
}
#company .line-group-102 circle {
  fill: #ab92af;
}
#company .line-group-103 circle {
  fill: #a993b1;
}
#company .line-group-104 circle {
  fill: #a895b4;
}
#company .line-group-105 circle {
  fill: #a696b7;
}
#company .line-group-106 circle {
  fill: #a597b9;
}
#company .line-group-107 circle {
  fill: #a398bc;
}
#company .line-group-108 circle {
  fill: #a299be;
}
#company .line-group-109 circle {
  fill: #a19ac1;
}
#company .line-group-110 circle {
  fill: #a09cc3;
}
#company .line-group-111 circle {
  fill: #9e9dc5;
}
#company .line-group-112 circle {
  fill: #9d9ec8;
}
#company .line-group-113 circle {
  fill: #9c9fca;
}
#company .line-group-114 circle {
  fill: #9ba0cc;
}
#company .line-group-115 circle {
  fill: #9aa1ce;
}
#company .line-group-116 circle {
  fill: #99a1d0;
}
#company .line-group-117 circle {
  fill: #98a2d1;
}
#company .line-group-118 circle {
  fill: #97a3d3;
}
#company .line-group-119 circle {
  fill: #96a4d5;
}
#company .line-group-120 circle {
  fill: #95a5d6;
}
#company .line-group-121 circle {
  fill: #94a5d8;
}
#company .line-group-122 circle {
  fill: #94a6d9;
}
#company .line-group-123 circle {
  fill: #93a6db;
}
#company .line-group-124 circle {
  fill: #92a7dc;
}
#company .line-group-125 circle {
  fill: #92a8dd;
}
#company .line-group-126 circle {
  fill: #91a8de;
}
#company .line-group-127 circle {
  fill: #91a8df;
}
#company .line-group-128 circle {
  fill: #90a9df;
}
#company .line-group-129 circle {
  fill: #90a9e0;
}
#company .line-group-130 circle {
  fill: #90a9e1;
}
#company .line-group-131 circle {
  fill: #8faae1;
}
#company .line-group-132 circle {
  fill: #8faae2;
}
#company .line-group-133 circle {
  fill: #8faae2;
}
#company .line-group-134 circle {
  fill: #8faae2;
}
#company .line-group-135 circle {
  fill: #8faae2;
}
#company .line-group-136 circle {
  fill: #8faae2;
}
#company .line-group-137 circle {
  fill: #8faae2;
}
#company .line-group-138 circle {
  fill: #8faae2;
}
#company .line-group-139 circle {
  fill: #8faae1;
}
#company .line-group-140 circle {
  fill: #90a9e1;
}
#company .line-group-141 circle {
  fill: #90a9e0;
}
#company .line-group-142 circle {
  fill: #90a9df;
}
#company .line-group-143 circle {
  fill: #91a8df;
}
#company .line-group-144 circle {
  fill: #91a8de;
}
#company .line-group-145 circle {
  fill: #92a8dd;
}
#company .line-group-146 circle {
  fill: #92a7dc;
}
#company .line-group-147 circle {
  fill: #93a6db;
}
#company .line-group-148 circle {
  fill: #94a6d9;
}
#company .line-group-149 circle {
  fill: #94a5d8;
}
#company .line-group-150 circle {
  fill: #95a5d6;
}
#company .line-group-151 circle {
  fill: #96a4d5;
}
#company .line-group-152 circle {
  fill: #97a3d3;
}
#company .line-group-153 circle {
  fill: #98a2d1;
}
#company .line-group-154 circle {
  fill: #99a1d0;
}
#company .line-group-155 circle {
  fill: #9aa1ce;
}
#company .line-group-156 circle {
  fill: #9ba0cc;
}
#company .line-group-157 circle {
  fill: #9c9fca;
}
#company .line-group-158 circle {
  fill: #9d9ec8;
}
#company .line-group-159 circle {
  fill: #9e9dc5;
}
#company .line-group-160 circle {
  fill: #a09cc3;
}
#company .line-group-161 circle {
  fill: #a19ac1;
}
#company .line-group-162 circle {
  fill: #a299be;
}
#company .line-group-163 circle {
  fill: #a398bc;
}
#company .line-group-164 circle {
  fill: #a597b9;
}
#company .line-group-165 circle {
  fill: #a696b7;
}
#company .line-group-166 circle {
  fill: #a895b4;
}
#company .line-group-167 circle {
  fill: #a993b1;
}
#company .line-group-168 circle {
  fill: #ab92af;
}
#company .line-group-169 circle {
  fill: #ac91ac;
}
#company .line-group-170 circle {
  fill: #ae8fa9;
}
#company .line-group-171 circle {
  fill: #af8ea6;
}
#company .line-group-172 circle {
  fill: #b18da3;
}
#company .line-group-173 circle {
  fill: #b28ba0;
}
#company .line-group-174 circle {
  fill: #b48a9d;
}
#company .line-group-175 circle {
  fill: #b5899b;
}
#company .line-group-176 circle {
  fill: #b78798;
}
#company .line-group-177 circle {
  fill: #b98695;
}
#company .line-group-178 circle {
  fill: #ba8492;
}
#company .line-group-179 circle {
  fill: #bc838f;
}

#homepage svg#circle-svg #circle-pattern {
  transform: rotate(135deg);
}
#homepage svg#circle-svg #shadow-svg {
  stroke: #911C58;
}
#homepage .line-group-0 circle {
  fill: #bf3b47;
}
#homepage .line-group-1 circle {
  fill: #c03c46;
}
#homepage .line-group-2 circle {
  fill: #c23d45;
}
#homepage .line-group-3 circle {
  fill: #c33e45;
}
#homepage .line-group-4 circle {
  fill: #c53f44;
}
#homepage .line-group-5 circle {
  fill: #c64043;
}
#homepage .line-group-6 circle {
  fill: #c84143;
}
#homepage .line-group-7 circle {
  fill: #ca4242;
}
#homepage .line-group-8 circle {
  fill: #cb4342;
}
#homepage .line-group-9 circle {
  fill: #cd4441;
}
#homepage .line-group-10 circle {
  fill: #ce4541;
}
#homepage .line-group-11 circle {
  fill: #d04640;
}
#homepage .line-group-12 circle {
  fill: #d1473f;
}
#homepage .line-group-13 circle {
  fill: #d2483f;
}
#homepage .line-group-14 circle {
  fill: #d4493e;
}
#homepage .line-group-15 circle {
  fill: #d54a3e;
}
#homepage .line-group-16 circle {
  fill: #d74b3d;
}
#homepage .line-group-17 circle {
  fill: #d84c3d;
}
#homepage .line-group-18 circle {
  fill: #d94c3c;
}
#homepage .line-group-19 circle {
  fill: #db4d3c;
}
#homepage .line-group-20 circle {
  fill: #dc4e3b;
}
#homepage .line-group-21 circle {
  fill: #dd4f3b;
}
#homepage .line-group-22 circle {
  fill: #de503a;
}
#homepage .line-group-23 circle {
  fill: #df503a;
}
#homepage .line-group-24 circle {
  fill: #e05139;
}
#homepage .line-group-25 circle {
  fill: #e15239;
}
#homepage .line-group-26 circle {
  fill: #e25339;
}
#homepage .line-group-27 circle {
  fill: #e35338;
}
#homepage .line-group-28 circle {
  fill: #e45438;
}
#homepage .line-group-29 circle {
  fill: #e55438;
}
#homepage .line-group-30 circle {
  fill: #e65537;
}
#homepage .line-group-31 circle {
  fill: #e75537;
}
#homepage .line-group-32 circle {
  fill: #e75637;
}
#homepage .line-group-33 circle {
  fill: #e85637;
}
#homepage .line-group-34 circle {
  fill: #e95736;
}
#homepage .line-group-35 circle {
  fill: #e95736;
}
#homepage .line-group-36 circle {
  fill: #ea5836;
}
#homepage .line-group-37 circle {
  fill: #ea5836;
}
#homepage .line-group-38 circle {
  fill: #eb5836;
}
#homepage .line-group-39 circle {
  fill: #eb5835;
}
#homepage .line-group-40 circle {
  fill: #eb5935;
}
#homepage .line-group-41 circle {
  fill: #ec5935;
}
#homepage .line-group-42 circle {
  fill: #ec5935;
}
#homepage .line-group-43 circle {
  fill: #ec5935;
}
#homepage .line-group-44 circle {
  fill: #ec5935;
}
#homepage .line-group-45 circle {
  fill: #ec5935;
}
#homepage .line-group-46 circle {
  fill: #ec5935;
}
#homepage .line-group-47 circle {
  fill: #ec5935;
}
#homepage .line-group-48 circle {
  fill: #ec5935;
}
#homepage .line-group-49 circle {
  fill: #ec5935;
}
#homepage .line-group-50 circle {
  fill: #eb5935;
}
#homepage .line-group-51 circle {
  fill: #eb5835;
}
#homepage .line-group-52 circle {
  fill: #eb5836;
}
#homepage .line-group-53 circle {
  fill: #ea5836;
}
#homepage .line-group-54 circle {
  fill: #ea5836;
}
#homepage .line-group-55 circle {
  fill: #e95736;
}
#homepage .line-group-56 circle {
  fill: #e95736;
}
#homepage .line-group-57 circle {
  fill: #e85637;
}
#homepage .line-group-58 circle {
  fill: #e75637;
}
#homepage .line-group-59 circle {
  fill: #e75537;
}
#homepage .line-group-60 circle {
  fill: #e65537;
}
#homepage .line-group-61 circle {
  fill: #e55438;
}
#homepage .line-group-62 circle {
  fill: #e45438;
}
#homepage .line-group-63 circle {
  fill: #e35338;
}
#homepage .line-group-64 circle {
  fill: #e25339;
}
#homepage .line-group-65 circle {
  fill: #e15239;
}
#homepage .line-group-66 circle {
  fill: #e05139;
}
#homepage .line-group-67 circle {
  fill: #df503a;
}
#homepage .line-group-68 circle {
  fill: #de503a;
}
#homepage .line-group-69 circle {
  fill: #dd4f3b;
}
#homepage .line-group-70 circle {
  fill: #dc4e3b;
}
#homepage .line-group-71 circle {
  fill: #db4d3c;
}
#homepage .line-group-72 circle {
  fill: #d94c3c;
}
#homepage .line-group-73 circle {
  fill: #d84c3d;
}
#homepage .line-group-74 circle {
  fill: #d74b3d;
}
#homepage .line-group-75 circle {
  fill: #d54a3e;
}
#homepage .line-group-76 circle {
  fill: #d4493e;
}
#homepage .line-group-77 circle {
  fill: #d2483f;
}
#homepage .line-group-78 circle {
  fill: #d1473f;
}
#homepage .line-group-79 circle {
  fill: #d04640;
}
#homepage .line-group-80 circle {
  fill: #ce4541;
}
#homepage .line-group-81 circle {
  fill: #cd4441;
}
#homepage .line-group-82 circle {
  fill: #cb4342;
}
#homepage .line-group-83 circle {
  fill: #ca4242;
}
#homepage .line-group-84 circle {
  fill: #c84143;
}
#homepage .line-group-85 circle {
  fill: #c64043;
}
#homepage .line-group-86 circle {
  fill: #c53f44;
}
#homepage .line-group-87 circle {
  fill: #c33e45;
}
#homepage .line-group-88 circle {
  fill: #c23d45;
}
#homepage .line-group-89 circle {
  fill: #c03c46;
}
#homepage .line-group-90 circle {
  fill: #be3a47;
}
#homepage .line-group-91 circle {
  fill: #bd3947;
}
#homepage .line-group-92 circle {
  fill: #bb3848;
}
#homepage .line-group-93 circle {
  fill: #ba3748;
}
#homepage .line-group-94 circle {
  fill: #b83649;
}
#homepage .line-group-95 circle {
  fill: #b7354a;
}
#homepage .line-group-96 circle {
  fill: #b5344a;
}
#homepage .line-group-97 circle {
  fill: #b3334b;
}
#homepage .line-group-98 circle {
  fill: #b2324b;
}
#homepage .line-group-99 circle {
  fill: #b0314c;
}
#homepage .line-group-100 circle {
  fill: #af304c;
}
#homepage .line-group-101 circle {
  fill: #ad2f4d;
}
#homepage .line-group-102 circle {
  fill: #ac2e4e;
}
#homepage .line-group-103 circle {
  fill: #ab2d4e;
}
#homepage .line-group-104 circle {
  fill: #a92c4f;
}
#homepage .line-group-105 circle {
  fill: #a82b4f;
}
#homepage .line-group-106 circle {
  fill: #a62a50;
}
#homepage .line-group-107 circle {
  fill: #a52950;
}
#homepage .line-group-108 circle {
  fill: #a42951;
}
#homepage .line-group-109 circle {
  fill: #a22851;
}
#homepage .line-group-110 circle {
  fill: #a12752;
}
#homepage .line-group-111 circle {
  fill: #a02652;
}
#homepage .line-group-112 circle {
  fill: #9f2553;
}
#homepage .line-group-113 circle {
  fill: #9e2553;
}
#homepage .line-group-114 circle {
  fill: #9d2454;
}
#homepage .line-group-115 circle {
  fill: #9c2354;
}
#homepage .line-group-116 circle {
  fill: #9b2254;
}
#homepage .line-group-117 circle {
  fill: #9a2255;
}
#homepage .line-group-118 circle {
  fill: #992155;
}
#homepage .line-group-119 circle {
  fill: #982155;
}
#homepage .line-group-120 circle {
  fill: #972056;
}
#homepage .line-group-121 circle {
  fill: #962056;
}
#homepage .line-group-122 circle {
  fill: #961f56;
}
#homepage .line-group-123 circle {
  fill: #951f56;
}
#homepage .line-group-124 circle {
  fill: #941e57;
}
#homepage .line-group-125 circle {
  fill: #941e57;
}
#homepage .line-group-126 circle {
  fill: #931d57;
}
#homepage .line-group-127 circle {
  fill: #931d57;
}
#homepage .line-group-128 circle {
  fill: #921d57;
}
#homepage .line-group-129 circle {
  fill: #921d58;
}
#homepage .line-group-130 circle {
  fill: #921c58;
}
#homepage .line-group-131 circle {
  fill: #911c58;
}
#homepage .line-group-132 circle {
  fill: #911c58;
}
#homepage .line-group-133 circle {
  fill: #911c58;
}
#homepage .line-group-134 circle {
  fill: #911c58;
}
#homepage .line-group-135 circle {
  fill: #911c58;
}
#homepage .line-group-136 circle {
  fill: #911c58;
}
#homepage .line-group-137 circle {
  fill: #911c58;
}
#homepage .line-group-138 circle {
  fill: #911c58;
}
#homepage .line-group-139 circle {
  fill: #911c58;
}
#homepage .line-group-140 circle {
  fill: #921c58;
}
#homepage .line-group-141 circle {
  fill: #921d58;
}
#homepage .line-group-142 circle {
  fill: #921d57;
}
#homepage .line-group-143 circle {
  fill: #931d57;
}
#homepage .line-group-144 circle {
  fill: #931d57;
}
#homepage .line-group-145 circle {
  fill: #941e57;
}
#homepage .line-group-146 circle {
  fill: #941e57;
}
#homepage .line-group-147 circle {
  fill: #951f56;
}
#homepage .line-group-148 circle {
  fill: #961f56;
}
#homepage .line-group-149 circle {
  fill: #962056;
}
#homepage .line-group-150 circle {
  fill: #972056;
}
#homepage .line-group-151 circle {
  fill: #982155;
}
#homepage .line-group-152 circle {
  fill: #992155;
}
#homepage .line-group-153 circle {
  fill: #9a2255;
}
#homepage .line-group-154 circle {
  fill: #9b2254;
}
#homepage .line-group-155 circle {
  fill: #9c2354;
}
#homepage .line-group-156 circle {
  fill: #9d2454;
}
#homepage .line-group-157 circle {
  fill: #9e2553;
}
#homepage .line-group-158 circle {
  fill: #9f2553;
}
#homepage .line-group-159 circle {
  fill: #a02652;
}
#homepage .line-group-160 circle {
  fill: #a12752;
}
#homepage .line-group-161 circle {
  fill: #a22851;
}
#homepage .line-group-162 circle {
  fill: #a42951;
}
#homepage .line-group-163 circle {
  fill: #a52950;
}
#homepage .line-group-164 circle {
  fill: #a62a50;
}
#homepage .line-group-165 circle {
  fill: #a82b4f;
}
#homepage .line-group-166 circle {
  fill: #a92c4f;
}
#homepage .line-group-167 circle {
  fill: #ab2d4e;
}
#homepage .line-group-168 circle {
  fill: #ac2e4e;
}
#homepage .line-group-169 circle {
  fill: #ad2f4d;
}
#homepage .line-group-170 circle {
  fill: #af304c;
}
#homepage .line-group-171 circle {
  fill: #b0314c;
}
#homepage .line-group-172 circle {
  fill: #b2324b;
}
#homepage .line-group-173 circle {
  fill: #b3334b;
}
#homepage .line-group-174 circle {
  fill: #b5344a;
}
#homepage .line-group-175 circle {
  fill: #b7354a;
}
#homepage .line-group-176 circle {
  fill: #b83649;
}
#homepage .line-group-177 circle {
  fill: #ba3748;
}
#homepage .line-group-178 circle {
  fill: #bb3848;
}
#homepage .line-group-179 circle {
  fill: #bd3947;
}

#partner svg#circle-svg #circle-pattern {
  transform: rotate(90deg);
}
#partner svg#circle-svg #shadow-svg {
  stroke: #911C58;
}
#partner .line-group-0 circle {
  fill: #c3694c;
}
#partner .line-group-1 circle {
  fill: #c46b4b;
}
#partner .line-group-2 circle {
  fill: #c66e4b;
}
#partner .line-group-3 circle {
  fill: #c8704a;
}
#partner .line-group-4 circle {
  fill: #c9734a;
}
#partner .line-group-5 circle {
  fill: #cb7649;
}
#partner .line-group-6 circle {
  fill: #cd7849;
}
#partner .line-group-7 circle {
  fill: #ce7b48;
}
#partner .line-group-8 circle {
  fill: #d07e48;
}
#partner .line-group-9 circle {
  fill: #d28048;
}
#partner .line-group-10 circle {
  fill: #d38347;
}
#partner .line-group-11 circle {
  fill: #d58547;
}
#partner .line-group-12 circle {
  fill: #d78846;
}
#partner .line-group-13 circle {
  fill: #d88a46;
}
#partner .line-group-14 circle {
  fill: #da8c46;
}
#partner .line-group-15 circle {
  fill: #db8f45;
}
#partner .line-group-16 circle {
  fill: #dd9145;
}
#partner .line-group-17 circle {
  fill: #de9345;
}
#partner .line-group-18 circle {
  fill: #e09544;
}
#partner .line-group-19 circle {
  fill: #e19844;
}
#partner .line-group-20 circle {
  fill: #e29a43;
}
#partner .line-group-21 circle {
  fill: #e49c43;
}
#partner .line-group-22 circle {
  fill: #e59e43;
}
#partner .line-group-23 circle {
  fill: #e6a043;
}
#partner .line-group-24 circle {
  fill: #e7a142;
}
#partner .line-group-25 circle {
  fill: #e8a342;
}
#partner .line-group-26 circle {
  fill: #eaa542;
}
#partner .line-group-27 circle {
  fill: #eba641;
}
#partner .line-group-28 circle {
  fill: #eca841;
}
#partner .line-group-29 circle {
  fill: #eca941;
}
#partner .line-group-30 circle {
  fill: #edab41;
}
#partner .line-group-31 circle {
  fill: #eeac40;
}
#partner .line-group-32 circle {
  fill: #efad40;
}
#partner .line-group-33 circle {
  fill: #f0ae40;
}
#partner .line-group-34 circle {
  fill: #f0af40;
}
#partner .line-group-35 circle {
  fill: #f1b040;
}
#partner .line-group-36 circle {
  fill: #f2b140;
}
#partner .line-group-37 circle {
  fill: #f2b23f;
}
#partner .line-group-38 circle {
  fill: #f3b33f;
}
#partner .line-group-39 circle {
  fill: #f3b33f;
}
#partner .line-group-40 circle {
  fill: #f3b43f;
}
#partner .line-group-41 circle {
  fill: #f4b43f;
}
#partner .line-group-42 circle {
  fill: #f4b53f;
}
#partner .line-group-43 circle {
  fill: #f4b53f;
}
#partner .line-group-44 circle {
  fill: #f4b53f;
}
#partner .line-group-45 circle {
  fill: #f4b53f;
}
#partner .line-group-46 circle {
  fill: #f4b53f;
}
#partner .line-group-47 circle {
  fill: #f4b53f;
}
#partner .line-group-48 circle {
  fill: #f4b53f;
}
#partner .line-group-49 circle {
  fill: #f4b43f;
}
#partner .line-group-50 circle {
  fill: #f3b43f;
}
#partner .line-group-51 circle {
  fill: #f3b33f;
}
#partner .line-group-52 circle {
  fill: #f3b33f;
}
#partner .line-group-53 circle {
  fill: #f2b23f;
}
#partner .line-group-54 circle {
  fill: #f2b140;
}
#partner .line-group-55 circle {
  fill: #f1b040;
}
#partner .line-group-56 circle {
  fill: #f0af40;
}
#partner .line-group-57 circle {
  fill: #f0ae40;
}
#partner .line-group-58 circle {
  fill: #efad40;
}
#partner .line-group-59 circle {
  fill: #eeac40;
}
#partner .line-group-60 circle {
  fill: #edab41;
}
#partner .line-group-61 circle {
  fill: #eca941;
}
#partner .line-group-62 circle {
  fill: #eca841;
}
#partner .line-group-63 circle {
  fill: #eba641;
}
#partner .line-group-64 circle {
  fill: #eaa542;
}
#partner .line-group-65 circle {
  fill: #e8a342;
}
#partner .line-group-66 circle {
  fill: #e7a142;
}
#partner .line-group-67 circle {
  fill: #e6a043;
}
#partner .line-group-68 circle {
  fill: #e59e43;
}
#partner .line-group-69 circle {
  fill: #e49c43;
}
#partner .line-group-70 circle {
  fill: #e29a43;
}
#partner .line-group-71 circle {
  fill: #e19844;
}
#partner .line-group-72 circle {
  fill: #e09544;
}
#partner .line-group-73 circle {
  fill: #de9345;
}
#partner .line-group-74 circle {
  fill: #dd9145;
}
#partner .line-group-75 circle {
  fill: #db8f45;
}
#partner .line-group-76 circle {
  fill: #da8c46;
}
#partner .line-group-77 circle {
  fill: #d88a46;
}
#partner .line-group-78 circle {
  fill: #d78846;
}
#partner .line-group-79 circle {
  fill: #d58547;
}
#partner .line-group-80 circle {
  fill: #d38347;
}
#partner .line-group-81 circle {
  fill: #d28048;
}
#partner .line-group-82 circle {
  fill: #d07e48;
}
#partner .line-group-83 circle {
  fill: #ce7b48;
}
#partner .line-group-84 circle {
  fill: #cd7849;
}
#partner .line-group-85 circle {
  fill: #cb7649;
}
#partner .line-group-86 circle {
  fill: #c9734a;
}
#partner .line-group-87 circle {
  fill: #c8704a;
}
#partner .line-group-88 circle {
  fill: #c66e4b;
}
#partner .line-group-89 circle {
  fill: #c46b4b;
}
#partner .line-group-90 circle {
  fill: #c2684c;
}
#partner .line-group-91 circle {
  fill: #c1664c;
}
#partner .line-group-92 circle {
  fill: #bf634c;
}
#partner .line-group-93 circle {
  fill: #bd614d;
}
#partner .line-group-94 circle {
  fill: #bc5e4d;
}
#partner .line-group-95 circle {
  fill: #ba5b4e;
}
#partner .line-group-96 circle {
  fill: #b8594e;
}
#partner .line-group-97 circle {
  fill: #b7564f;
}
#partner .line-group-98 circle {
  fill: #b5534f;
}
#partner .line-group-99 circle {
  fill: #b3514f;
}
#partner .line-group-100 circle {
  fill: #b24e50;
}
#partner .line-group-101 circle {
  fill: #b04c50;
}
#partner .line-group-102 circle {
  fill: #ae4951;
}
#partner .line-group-103 circle {
  fill: #ad4751;
}
#partner .line-group-104 circle {
  fill: #ab4551;
}
#partner .line-group-105 circle {
  fill: #aa4252;
}
#partner .line-group-106 circle {
  fill: #a84052;
}
#partner .line-group-107 circle {
  fill: #a73e52;
}
#partner .line-group-108 circle {
  fill: #a53c53;
}
#partner .line-group-109 circle {
  fill: #a43953;
}
#partner .line-group-110 circle {
  fill: #a33754;
}
#partner .line-group-111 circle {
  fill: #a13554;
}
#partner .line-group-112 circle {
  fill: #a03354;
}
#partner .line-group-113 circle {
  fill: #9f3154;
}
#partner .line-group-114 circle {
  fill: #9e3055;
}
#partner .line-group-115 circle {
  fill: #9d2e55;
}
#partner .line-group-116 circle {
  fill: #9b2c55;
}
#partner .line-group-117 circle {
  fill: #9a2b56;
}
#partner .line-group-118 circle {
  fill: #992956;
}
#partner .line-group-119 circle {
  fill: #992856;
}
#partner .line-group-120 circle {
  fill: #982656;
}
#partner .line-group-121 circle {
  fill: #972557;
}
#partner .line-group-122 circle {
  fill: #962457;
}
#partner .line-group-123 circle {
  fill: #952357;
}
#partner .line-group-124 circle {
  fill: #952257;
}
#partner .line-group-125 circle {
  fill: #942157;
}
#partner .line-group-126 circle {
  fill: #932057;
}
#partner .line-group-127 circle {
  fill: #931f58;
}
#partner .line-group-128 circle {
  fill: #921e58;
}
#partner .line-group-129 circle {
  fill: #921e58;
}
#partner .line-group-130 circle {
  fill: #921d58;
}
#partner .line-group-131 circle {
  fill: #911d58;
}
#partner .line-group-132 circle {
  fill: #911c58;
}
#partner .line-group-133 circle {
  fill: #911c58;
}
#partner .line-group-134 circle {
  fill: #911c58;
}
#partner .line-group-135 circle {
  fill: #911c58;
}
#partner .line-group-136 circle {
  fill: #911c58;
}
#partner .line-group-137 circle {
  fill: #911c58;
}
#partner .line-group-138 circle {
  fill: #911c58;
}
#partner .line-group-139 circle {
  fill: #911d58;
}
#partner .line-group-140 circle {
  fill: #921d58;
}
#partner .line-group-141 circle {
  fill: #921e58;
}
#partner .line-group-142 circle {
  fill: #921e58;
}
#partner .line-group-143 circle {
  fill: #931f58;
}
#partner .line-group-144 circle {
  fill: #932057;
}
#partner .line-group-145 circle {
  fill: #942157;
}
#partner .line-group-146 circle {
  fill: #952257;
}
#partner .line-group-147 circle {
  fill: #952357;
}
#partner .line-group-148 circle {
  fill: #962457;
}
#partner .line-group-149 circle {
  fill: #972557;
}
#partner .line-group-150 circle {
  fill: #982656;
}
#partner .line-group-151 circle {
  fill: #992856;
}
#partner .line-group-152 circle {
  fill: #992956;
}
#partner .line-group-153 circle {
  fill: #9a2b56;
}
#partner .line-group-154 circle {
  fill: #9b2c55;
}
#partner .line-group-155 circle {
  fill: #9d2e55;
}
#partner .line-group-156 circle {
  fill: #9e3055;
}
#partner .line-group-157 circle {
  fill: #9f3154;
}
#partner .line-group-158 circle {
  fill: #a03354;
}
#partner .line-group-159 circle {
  fill: #a13554;
}
#partner .line-group-160 circle {
  fill: #a33754;
}
#partner .line-group-161 circle {
  fill: #a43953;
}
#partner .line-group-162 circle {
  fill: #a53c53;
}
#partner .line-group-163 circle {
  fill: #a73e52;
}
#partner .line-group-164 circle {
  fill: #a84052;
}
#partner .line-group-165 circle {
  fill: #aa4252;
}
#partner .line-group-166 circle {
  fill: #ab4551;
}
#partner .line-group-167 circle {
  fill: #ad4751;
}
#partner .line-group-168 circle {
  fill: #ae4951;
}
#partner .line-group-169 circle {
  fill: #b04c50;
}
#partner .line-group-170 circle {
  fill: #b24e50;
}
#partner .line-group-171 circle {
  fill: #b3514f;
}
#partner .line-group-172 circle {
  fill: #b5534f;
}
#partner .line-group-173 circle {
  fill: #b7564f;
}
#partner .line-group-174 circle {
  fill: #b8594e;
}
#partner .line-group-175 circle {
  fill: #ba5b4e;
}
#partner .line-group-176 circle {
  fill: #bc5e4d;
}
#partner .line-group-177 circle {
  fill: #bd614d;
}
#partner .line-group-178 circle {
  fill: #bf634c;
}
#partner .line-group-179 circle {
  fill: #c1664c;
}

#platform svg#circle-svg #circle-pattern {
  transform: rotate(0deg);
}
#platform svg#circle-svg #shadow-svg {
  stroke: #8FAAE2;
}
#platform .line-group-0 circle {
  fill: #a0c5b5;
}
#platform .line-group-1 circle {
  fill: #a1c6b3;
}
#platform .line-group-2 circle {
  fill: #a1c7b2;
}
#platform .line-group-3 circle {
  fill: #a2c8b0;
}
#platform .line-group-4 circle {
  fill: #a2c9af;
}
#platform .line-group-5 circle {
  fill: #a3caad;
}
#platform .line-group-6 circle {
  fill: #a4cbac;
}
#platform .line-group-7 circle {
  fill: #a4ccaa;
}
#platform .line-group-8 circle {
  fill: #a5cca9;
}
#platform .line-group-9 circle {
  fill: #a5cda7;
}
#platform .line-group-10 circle {
  fill: #a6cea6;
}
#platform .line-group-11 circle {
  fill: #a6cfa4;
}
#platform .line-group-12 circle {
  fill: #a7d0a3;
}
#platform .line-group-13 circle {
  fill: #a7d1a1;
}
#platform .line-group-14 circle {
  fill: #a8d2a0;
}
#platform .line-group-15 circle {
  fill: #a9d39f;
}
#platform .line-group-16 circle {
  fill: #a9d39d;
}
#platform .line-group-17 circle {
  fill: #aad49c;
}
#platform .line-group-18 circle {
  fill: #aad59b;
}
#platform .line-group-19 circle {
  fill: #aad699;
}
#platform .line-group-20 circle {
  fill: #abd698;
}
#platform .line-group-21 circle {
  fill: #abd797;
}
#platform .line-group-22 circle {
  fill: #acd896;
}
#platform .line-group-23 circle {
  fill: #acd895;
}
#platform .line-group-24 circle {
  fill: #add994;
}
#platform .line-group-25 circle {
  fill: #adda93;
}
#platform .line-group-26 circle {
  fill: #adda92;
}
#platform .line-group-27 circle {
  fill: #aedb91;
}
#platform .line-group-28 circle {
  fill: #aedb90;
}
#platform .line-group-29 circle {
  fill: #aedc8f;
}
#platform .line-group-30 circle {
  fill: #afdc8e;
}
#platform .line-group-31 circle {
  fill: #afdd8d;
}
#platform .line-group-32 circle {
  fill: #afdd8d;
}
#platform .line-group-33 circle {
  fill: #b0de8c;
}
#platform .line-group-34 circle {
  fill: #b0de8b;
}
#platform .line-group-35 circle {
  fill: #b0de8b;
}
#platform .line-group-36 circle {
  fill: #b0df8a;
}
#platform .line-group-37 circle {
  fill: #b0df8a;
}
#platform .line-group-38 circle {
  fill: #b0df89;
}
#platform .line-group-39 circle {
  fill: #b1df89;
}
#platform .line-group-40 circle {
  fill: #b1e089;
}
#platform .line-group-41 circle {
  fill: #b1e088;
}
#platform .line-group-42 circle {
  fill: #b1e088;
}
#platform .line-group-43 circle {
  fill: #b1e088;
}
#platform .line-group-44 circle {
  fill: #b1e088;
}
#platform .line-group-45 circle {
  fill: #b1e088;
}
#platform .line-group-46 circle {
  fill: #b1e088;
}
#platform .line-group-47 circle {
  fill: #b1e088;
}
#platform .line-group-48 circle {
  fill: #b1e088;
}
#platform .line-group-49 circle {
  fill: #b1e088;
}
#platform .line-group-50 circle {
  fill: #b1e089;
}
#platform .line-group-51 circle {
  fill: #b1df89;
}
#platform .line-group-52 circle {
  fill: #b0df89;
}
#platform .line-group-53 circle {
  fill: #b0df8a;
}
#platform .line-group-54 circle {
  fill: #b0df8a;
}
#platform .line-group-55 circle {
  fill: #b0de8b;
}
#platform .line-group-56 circle {
  fill: #b0de8b;
}
#platform .line-group-57 circle {
  fill: #b0de8c;
}
#platform .line-group-58 circle {
  fill: #afdd8d;
}
#platform .line-group-59 circle {
  fill: #afdd8d;
}
#platform .line-group-60 circle {
  fill: #afdc8e;
}
#platform .line-group-61 circle {
  fill: #aedc8f;
}
#platform .line-group-62 circle {
  fill: #aedb90;
}
#platform .line-group-63 circle {
  fill: #aedb91;
}
#platform .line-group-64 circle {
  fill: #adda92;
}
#platform .line-group-65 circle {
  fill: #adda93;
}
#platform .line-group-66 circle {
  fill: #add994;
}
#platform .line-group-67 circle {
  fill: #acd895;
}
#platform .line-group-68 circle {
  fill: #acd896;
}
#platform .line-group-69 circle {
  fill: #abd797;
}
#platform .line-group-70 circle {
  fill: #abd698;
}
#platform .line-group-71 circle {
  fill: #aad699;
}
#platform .line-group-72 circle {
  fill: #aad59b;
}
#platform .line-group-73 circle {
  fill: #aad49c;
}
#platform .line-group-74 circle {
  fill: #a9d39d;
}
#platform .line-group-75 circle {
  fill: #a9d39f;
}
#platform .line-group-76 circle {
  fill: #a8d2a0;
}
#platform .line-group-77 circle {
  fill: #a7d1a1;
}
#platform .line-group-78 circle {
  fill: #a7d0a3;
}
#platform .line-group-79 circle {
  fill: #a6cfa4;
}
#platform .line-group-80 circle {
  fill: #a6cea6;
}
#platform .line-group-81 circle {
  fill: #a5cda7;
}
#platform .line-group-82 circle {
  fill: #a5cca9;
}
#platform .line-group-83 circle {
  fill: #a4ccaa;
}
#platform .line-group-84 circle {
  fill: #a4cbac;
}
#platform .line-group-85 circle {
  fill: #a3caad;
}
#platform .line-group-86 circle {
  fill: #a2c9af;
}
#platform .line-group-87 circle {
  fill: #a2c8b0;
}
#platform .line-group-88 circle {
  fill: #a1c7b2;
}
#platform .line-group-89 circle {
  fill: #a1c6b3;
}
#platform .line-group-90 circle {
  fill: #a0c5b5;
}
#platform .line-group-91 circle {
  fill: #9fc4b7;
}
#platform .line-group-92 circle {
  fill: #9fc3b8;
}
#platform .line-group-93 circle {
  fill: #9ec2ba;
}
#platform .line-group-94 circle {
  fill: #9ec1bb;
}
#platform .line-group-95 circle {
  fill: #9dc0bd;
}
#platform .line-group-96 circle {
  fill: #9cbfbe;
}
#platform .line-group-97 circle {
  fill: #9cbec0;
}
#platform .line-group-98 circle {
  fill: #9bbec1;
}
#platform .line-group-99 circle {
  fill: #9bbdc3;
}
#platform .line-group-100 circle {
  fill: #9abcc4;
}
#platform .line-group-101 circle {
  fill: #9abbc6;
}
#platform .line-group-102 circle {
  fill: #99bac7;
}
#platform .line-group-103 circle {
  fill: #99b9c9;
}
#platform .line-group-104 circle {
  fill: #98b8ca;
}
#platform .line-group-105 circle {
  fill: #98b7cc;
}
#platform .line-group-106 circle {
  fill: #97b7cd;
}
#platform .line-group-107 circle {
  fill: #96b6ce;
}
#platform .line-group-108 circle {
  fill: #96b5cf;
}
#platform .line-group-109 circle {
  fill: #96b4d1;
}
#platform .line-group-110 circle {
  fill: #95b4d2;
}
#platform .line-group-111 circle {
  fill: #95b3d3;
}
#platform .line-group-112 circle {
  fill: #94b2d4;
}
#platform .line-group-113 circle {
  fill: #94b2d5;
}
#platform .line-group-114 circle {
  fill: #93b1d6;
}
#platform .line-group-115 circle {
  fill: #93b0d7;
}
#platform .line-group-116 circle {
  fill: #93b0d8;
}
#platform .line-group-117 circle {
  fill: #92afd9;
}
#platform .line-group-118 circle {
  fill: #92afda;
}
#platform .line-group-119 circle {
  fill: #92aedb;
}
#platform .line-group-120 circle {
  fill: #91aedc;
}
#platform .line-group-121 circle {
  fill: #91addd;
}
#platform .line-group-122 circle {
  fill: #91addd;
}
#platform .line-group-123 circle {
  fill: #90acde;
}
#platform .line-group-124 circle {
  fill: #90acdf;
}
#platform .line-group-125 circle {
  fill: #90acdf;
}
#platform .line-group-126 circle {
  fill: #90abe0;
}
#platform .line-group-127 circle {
  fill: #90abe0;
}
#platform .line-group-128 circle {
  fill: #90abe1;
}
#platform .line-group-129 circle {
  fill: #8fabe1;
}
#platform .line-group-130 circle {
  fill: #8faae1;
}
#platform .line-group-131 circle {
  fill: #8faae2;
}
#platform .line-group-132 circle {
  fill: #8faae2;
}
#platform .line-group-133 circle {
  fill: #8faae2;
}
#platform .line-group-134 circle {
  fill: #8faae2;
}
#platform .line-group-135 circle {
  fill: #8faae2;
}
#platform .line-group-136 circle {
  fill: #8faae2;
}
#platform .line-group-137 circle {
  fill: #8faae2;
}
#platform .line-group-138 circle {
  fill: #8faae2;
}
#platform .line-group-139 circle {
  fill: #8faae2;
}
#platform .line-group-140 circle {
  fill: #8faae1;
}
#platform .line-group-141 circle {
  fill: #8fabe1;
}
#platform .line-group-142 circle {
  fill: #90abe1;
}
#platform .line-group-143 circle {
  fill: #90abe0;
}
#platform .line-group-144 circle {
  fill: #90abe0;
}
#platform .line-group-145 circle {
  fill: #90acdf;
}
#platform .line-group-146 circle {
  fill: #90acdf;
}
#platform .line-group-147 circle {
  fill: #90acde;
}
#platform .line-group-148 circle {
  fill: #91addd;
}
#platform .line-group-149 circle {
  fill: #91addd;
}
#platform .line-group-150 circle {
  fill: #91aedc;
}
#platform .line-group-151 circle {
  fill: #92aedb;
}
#platform .line-group-152 circle {
  fill: #92afda;
}
#platform .line-group-153 circle {
  fill: #92afd9;
}
#platform .line-group-154 circle {
  fill: #93b0d8;
}
#platform .line-group-155 circle {
  fill: #93b0d7;
}
#platform .line-group-156 circle {
  fill: #93b1d6;
}
#platform .line-group-157 circle {
  fill: #94b2d5;
}
#platform .line-group-158 circle {
  fill: #94b2d4;
}
#platform .line-group-159 circle {
  fill: #95b3d3;
}
#platform .line-group-160 circle {
  fill: #95b4d2;
}
#platform .line-group-161 circle {
  fill: #96b4d1;
}
#platform .line-group-162 circle {
  fill: #96b5cf;
}
#platform .line-group-163 circle {
  fill: #96b6ce;
}
#platform .line-group-164 circle {
  fill: #97b7cd;
}
#platform .line-group-165 circle {
  fill: #98b8cb;
}
#platform .line-group-166 circle {
  fill: #98b8ca;
}
#platform .line-group-167 circle {
  fill: #99b9c9;
}
#platform .line-group-168 circle {
  fill: #99bac7;
}
#platform .line-group-169 circle {
  fill: #9abbc6;
}
#platform .line-group-170 circle {
  fill: #9abcc4;
}
#platform .line-group-171 circle {
  fill: #9bbdc3;
}
#platform .line-group-172 circle {
  fill: #9bbec1;
}
#platform .line-group-173 circle {
  fill: #9cbec0;
}
#platform .line-group-174 circle {
  fill: #9cbfbe;
}
#platform .line-group-175 circle {
  fill: #9dc0bd;
}
#platform .line-group-176 circle {
  fill: #9ec1bb;
}
#platform .line-group-177 circle {
  fill: #9ec2ba;
}
#platform .line-group-178 circle {
  fill: #9fc3b8;
}
#platform .line-group-179 circle {
  fill: #9fc4b7;
}

#solutions svg#circle-svg #circle-pattern {
  transform: rotate(180deg);
}
#solutions svg#circle-svg #shadow-svg {
  stroke: #EC5935;
}
#solutions .line-group-0 circle {
  fill: #f0873a;
}
#solutions .line-group-1 circle {
  fill: #f0893a;
}
#solutions .line-group-2 circle {
  fill: #f08a3a;
}
#solutions .line-group-3 circle {
  fill: #f08c3b;
}
#solutions .line-group-4 circle {
  fill: #f18d3b;
}
#solutions .line-group-5 circle {
  fill: #f18f3b;
}
#solutions .line-group-6 circle {
  fill: #f1913b;
}
#solutions .line-group-7 circle {
  fill: #f1923b;
}
#solutions .line-group-8 circle {
  fill: #f1943b;
}
#solutions .line-group-9 circle {
  fill: #f1953c;
}
#solutions .line-group-10 circle {
  fill: #f1973c;
}
#solutions .line-group-11 circle {
  fill: #f1983c;
}
#solutions .line-group-12 circle {
  fill: #f29a3c;
}
#solutions .line-group-13 circle {
  fill: #f29b3c;
}
#solutions .line-group-14 circle {
  fill: #f29d3c;
}
#solutions .line-group-15 circle {
  fill: #f29e3d;
}
#solutions .line-group-16 circle {
  fill: #f29f3d;
}
#solutions .line-group-17 circle {
  fill: #f2a13d;
}
#solutions .line-group-18 circle {
  fill: #f2a23d;
}
#solutions .line-group-19 circle {
  fill: #f2a33d;
}
#solutions .line-group-20 circle {
  fill: #f3a53d;
}
#solutions .line-group-21 circle {
  fill: #f3a63d;
}
#solutions .line-group-22 circle {
  fill: #f3a73d;
}
#solutions .line-group-23 circle {
  fill: #f3a83e;
}
#solutions .line-group-24 circle {
  fill: #f3a93e;
}
#solutions .line-group-25 circle {
  fill: #f3aa3e;
}
#solutions .line-group-26 circle {
  fill: #f3ab3e;
}
#solutions .line-group-27 circle {
  fill: #f3ac3e;
}
#solutions .line-group-28 circle {
  fill: #f3ad3e;
}
#solutions .line-group-29 circle {
  fill: #f3ae3e;
}
#solutions .line-group-30 circle {
  fill: #f3af3e;
}
#solutions .line-group-31 circle {
  fill: #f4b03e;
}
#solutions .line-group-32 circle {
  fill: #f4b03e;
}
#solutions .line-group-33 circle {
  fill: #f4b13f;
}
#solutions .line-group-34 circle {
  fill: #f4b23f;
}
#solutions .line-group-35 circle {
  fill: #f4b23f;
}
#solutions .line-group-36 circle {
  fill: #f4b33f;
}
#solutions .line-group-37 circle {
  fill: #f4b33f;
}
#solutions .line-group-38 circle {
  fill: #f4b43f;
}
#solutions .line-group-39 circle {
  fill: #f4b43f;
}
#solutions .line-group-40 circle {
  fill: #f4b43f;
}
#solutions .line-group-41 circle {
  fill: #f4b53f;
}
#solutions .line-group-42 circle {
  fill: #f4b53f;
}
#solutions .line-group-43 circle {
  fill: #f4b53f;
}
#solutions .line-group-44 circle {
  fill: #f4b53f;
}
#solutions .line-group-45 circle {
  fill: #f4b53f;
}
#solutions .line-group-46 circle {
  fill: #f4b53f;
}
#solutions .line-group-47 circle {
  fill: #f4b53f;
}
#solutions .line-group-48 circle {
  fill: #f4b53f;
}
#solutions .line-group-49 circle {
  fill: #f4b53f;
}
#solutions .line-group-50 circle {
  fill: #f4b43f;
}
#solutions .line-group-51 circle {
  fill: #f4b43f;
}
#solutions .line-group-52 circle {
  fill: #f4b43f;
}
#solutions .line-group-53 circle {
  fill: #f4b33f;
}
#solutions .line-group-54 circle {
  fill: #f4b33f;
}
#solutions .line-group-55 circle {
  fill: #f4b23f;
}
#solutions .line-group-56 circle {
  fill: #f4b23f;
}
#solutions .line-group-57 circle {
  fill: #f4b13f;
}
#solutions .line-group-58 circle {
  fill: #f4b03e;
}
#solutions .line-group-59 circle {
  fill: #f4b03e;
}
#solutions .line-group-60 circle {
  fill: #f3af3e;
}
#solutions .line-group-61 circle {
  fill: #f3ae3e;
}
#solutions .line-group-62 circle {
  fill: #f3ad3e;
}
#solutions .line-group-63 circle {
  fill: #f3ac3e;
}
#solutions .line-group-64 circle {
  fill: #f3ab3e;
}
#solutions .line-group-65 circle {
  fill: #f3aa3e;
}
#solutions .line-group-66 circle {
  fill: #f3a93e;
}
#solutions .line-group-67 circle {
  fill: #f3a83e;
}
#solutions .line-group-68 circle {
  fill: #f3a73d;
}
#solutions .line-group-69 circle {
  fill: #f3a63d;
}
#solutions .line-group-70 circle {
  fill: #f3a53d;
}
#solutions .line-group-71 circle {
  fill: #f2a33d;
}
#solutions .line-group-72 circle {
  fill: #f2a23d;
}
#solutions .line-group-73 circle {
  fill: #f2a13d;
}
#solutions .line-group-74 circle {
  fill: #f29f3d;
}
#solutions .line-group-75 circle {
  fill: #f29e3d;
}
#solutions .line-group-76 circle {
  fill: #f29d3c;
}
#solutions .line-group-77 circle {
  fill: #f29b3c;
}
#solutions .line-group-78 circle {
  fill: #f29a3c;
}
#solutions .line-group-79 circle {
  fill: #f1983c;
}
#solutions .line-group-80 circle {
  fill: #f1973c;
}
#solutions .line-group-81 circle {
  fill: #f1953c;
}
#solutions .line-group-82 circle {
  fill: #f1943b;
}
#solutions .line-group-83 circle {
  fill: #f1923b;
}
#solutions .line-group-84 circle {
  fill: #f1913b;
}
#solutions .line-group-85 circle {
  fill: #f18f3b;
}
#solutions .line-group-86 circle {
  fill: #f18d3b;
}
#solutions .line-group-87 circle {
  fill: #f08c3b;
}
#solutions .line-group-88 circle {
  fill: #f08a3a;
}
#solutions .line-group-89 circle {
  fill: #f0893a;
}
#solutions .line-group-90 circle {
  fill: #f0873a;
}
#solutions .line-group-91 circle {
  fill: #f0853a;
}
#solutions .line-group-92 circle {
  fill: #f0843a;
}
#solutions .line-group-93 circle {
  fill: #f08239;
}
#solutions .line-group-94 circle {
  fill: #ef8139;
}
#solutions .line-group-95 circle {
  fill: #ef7f39;
}
#solutions .line-group-96 circle {
  fill: #ef7d39;
}
#solutions .line-group-97 circle {
  fill: #ef7c39;
}
#solutions .line-group-98 circle {
  fill: #ef7a39;
}
#solutions .line-group-99 circle {
  fill: #ef7938;
}
#solutions .line-group-100 circle {
  fill: #ef7738;
}
#solutions .line-group-101 circle {
  fill: #ef7638;
}
#solutions .line-group-102 circle {
  fill: #ee7438;
}
#solutions .line-group-103 circle {
  fill: #ee7338;
}
#solutions .line-group-104 circle {
  fill: #ee7138;
}
#solutions .line-group-105 circle {
  fill: #ee7038;
}
#solutions .line-group-106 circle {
  fill: #ee6f37;
}
#solutions .line-group-107 circle {
  fill: #ee6d37;
}
#solutions .line-group-108 circle {
  fill: #ee6c37;
}
#solutions .line-group-109 circle {
  fill: #ee6b37;
}
#solutions .line-group-110 circle {
  fill: #ed6937;
}
#solutions .line-group-111 circle {
  fill: #ed6837;
}
#solutions .line-group-112 circle {
  fill: #ed6737;
}
#solutions .line-group-113 circle {
  fill: #ed6636;
}
#solutions .line-group-114 circle {
  fill: #ed6536;
}
#solutions .line-group-115 circle {
  fill: #ed6436;
}
#solutions .line-group-116 circle {
  fill: #ed6336;
}
#solutions .line-group-117 circle {
  fill: #ed6236;
}
#solutions .line-group-118 circle {
  fill: #ed6136;
}
#solutions .line-group-119 circle {
  fill: #ed6036;
}
#solutions .line-group-120 circle {
  fill: #ed5f36;
}
#solutions .line-group-121 circle {
  fill: #ec5e36;
}
#solutions .line-group-122 circle {
  fill: #ec5e36;
}
#solutions .line-group-123 circle {
  fill: #ec5d35;
}
#solutions .line-group-124 circle {
  fill: #ec5c35;
}
#solutions .line-group-125 circle {
  fill: #ec5c35;
}
#solutions .line-group-126 circle {
  fill: #ec5b35;
}
#solutions .line-group-127 circle {
  fill: #ec5b35;
}
#solutions .line-group-128 circle {
  fill: #ec5a35;
}
#solutions .line-group-129 circle {
  fill: #ec5a35;
}
#solutions .line-group-130 circle {
  fill: #ec5a35;
}
#solutions .line-group-131 circle {
  fill: #ec5935;
}
#solutions .line-group-132 circle {
  fill: #ec5935;
}
#solutions .line-group-133 circle {
  fill: #ec5935;
}
#solutions .line-group-134 circle {
  fill: #ec5935;
}
#solutions .line-group-135 circle {
  fill: #ec5935;
}
#solutions .line-group-136 circle {
  fill: #ec5935;
}
#solutions .line-group-137 circle {
  fill: #ec5935;
}
#solutions .line-group-138 circle {
  fill: #ec5935;
}
#solutions .line-group-139 circle {
  fill: #ec5935;
}
#solutions .line-group-140 circle {
  fill: #ec5a35;
}
#solutions .line-group-141 circle {
  fill: #ec5a35;
}
#solutions .line-group-142 circle {
  fill: #ec5a35;
}
#solutions .line-group-143 circle {
  fill: #ec5b35;
}
#solutions .line-group-144 circle {
  fill: #ec5b35;
}
#solutions .line-group-145 circle {
  fill: #ec5c35;
}
#solutions .line-group-146 circle {
  fill: #ec5c35;
}
#solutions .line-group-147 circle {
  fill: #ec5d35;
}
#solutions .line-group-148 circle {
  fill: #ec5e36;
}
#solutions .line-group-149 circle {
  fill: #ec5e36;
}
#solutions .line-group-150 circle {
  fill: #ed5f36;
}
#solutions .line-group-151 circle {
  fill: #ed6036;
}
#solutions .line-group-152 circle {
  fill: #ed6136;
}
#solutions .line-group-153 circle {
  fill: #ed6236;
}
#solutions .line-group-154 circle {
  fill: #ed6336;
}
#solutions .line-group-155 circle {
  fill: #ed6436;
}
#solutions .line-group-156 circle {
  fill: #ed6536;
}
#solutions .line-group-157 circle {
  fill: #ed6636;
}
#solutions .line-group-158 circle {
  fill: #ed6737;
}
#solutions .line-group-159 circle {
  fill: #ed6837;
}
#solutions .line-group-160 circle {
  fill: #ed6937;
}
#solutions .line-group-161 circle {
  fill: #ee6b37;
}
#solutions .line-group-162 circle {
  fill: #ee6c37;
}
#solutions .line-group-163 circle {
  fill: #ee6d37;
}
#solutions .line-group-164 circle {
  fill: #ee6f37;
}
#solutions .line-group-165 circle {
  fill: #ee7038;
}
#solutions .line-group-166 circle {
  fill: #ee7138;
}
#solutions .line-group-167 circle {
  fill: #ee7338;
}
#solutions .line-group-168 circle {
  fill: #ee7438;
}
#solutions .line-group-169 circle {
  fill: #ef7638;
}
#solutions .line-group-170 circle {
  fill: #ef7738;
}
#solutions .line-group-171 circle {
  fill: #ef7938;
}
#solutions .line-group-172 circle {
  fill: #ef7a39;
}
#solutions .line-group-173 circle {
  fill: #ef7c39;
}
#solutions .line-group-174 circle {
  fill: #ef7d39;
}
#solutions .line-group-175 circle {
  fill: #ef7f39;
}
#solutions .line-group-176 circle {
  fill: #ef8139;
}
#solutions .line-group-177 circle {
  fill: #f08239;
}
#solutions .line-group-178 circle {
  fill: #f0843a;
}
#solutions .line-group-179 circle {
  fill: #f0853a;
}

/*# sourceMappingURL=style.css.map */
