body {
    margin: 0;
    padding: 0;
    background: #111727;

    .controls {
        z-index: 10;

        display: flex;
        padding: 48vh 1vw;
        justify-content: space-between;
        position: absolute;
        width: 98vw;

        button {
            background-color: rgba(white, .25);
            padding: 1rem;
            border-radius: 50%;
            border: none;
            width: 47.5px;
            text-align: center;
            transition: all .25s;

            &:hover {
                background-color: white;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 1;

        svg {
            width: 100vmin;
            height: 100vmin;
            fill: orange;
        }

        #shadow-svg {
            filter: blur(5px);
            // stroke-width: 5px;
            stroke: white; // Default stroke color
        }
    }
}

// Define total segments and color pairs for states
$segment-count: 180;

$states: (
    company: (start: #EC5935, middle: #8FAAE2, rotation: 45deg),
    homepage: (start: #EC5935, middle: #911C58, rotation: 45deg),
    partner: (start: #F4B53F, middle: #911C58, rotation: 0deg),
    platform: (start: #B1E088, middle: #8FAAE2, rotation: -90deg),
    solutions: (start: #F4B53F, middle: #EC5935, rotation: 90deg)
);


// Mixin for generating gradients
@mixin gradient($state, $start-color, $middle-color, $rotation) {
    svg#circle-svg {
        #circle-pattern {
            transform: rotate($rotation);
        }

        #shadow-svg {
            stroke: $middle-color; // Apply middle color to the shadow
        }
    }

    // Calculate gradient for circle segments
    $midpoint: $segment-count / 2;

    @for $i from 0 through $segment-count - 1 {
        $color: if($i <=$midpoint,
                mix($start-color, $middle-color, ($i / $midpoint) * 100%), // From start to middle
                mix($middle-color, $start-color, (($i - $midpoint) / $midpoint) * 100%) // Back to start
            );

        .line-group-#{$i} {
            circle {
                fill: $color;
            }
        }
    }
}

// Loop through states and generate styles dynamically
@each $state, $props in $states {
    ##{$state} {
        @include gradient($state,
            map-get($props, start),
            map-get($props, middle),
            map-get($props, rotation));
    }
}